@model StayBazar.Areas.Admin.Models.MargintrackingReportModel
@{
    ViewBag.Title = " Margin Tracking Report";
    Layout = "~/Areas/Admin/Views/Shared/_reportLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<div id="content">
    <div class="row" id="Filter">
        <div class="col-md-12">
            <div class="margin10px" id="Details">
                @Html.Partial("_Filter", Model)
            </div>
        </div>
    </div>
    <div class="row" id="SupplierPayment">       
            <div class="col-md-12">
                <div class="margin10px" id="GrossMarrginList">
                    @Html.Partial("_Report", Model.MargintrackingReportList)
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">
    $(".container").removeClass("container").addClass("container-fluid");

</script>