/* =================================== */
/*  Basic Style */
/* =================================== */
@font-face {
   font-family: 'Freig San Medium Regular';
   src: url('../fonts/FreightSansMediumRegular.ttf');
}
@font-face {
   font-family: 'FreigSanProBold';
   src: url('../fonts/FreigSanProBold.otf');
}
@font-face {
   font-family: 'FreigSanProBook_0';
   src: url('../fonts/FreigSanProBook_0.otf');
}
@font-face {
   font-family: 'FreigSanProLig';
   src: url('../fonts/FreigSanProLig.otf');
}
@font-face {
   font-family: 'FreigSanProMed';
   src: url('../fonts/FreigSanProMed.otf');
}

body {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #231f20;
	font-family: 'FreigSanProBook_0';
}

a {
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

a,
a:focus {
	text-decoration: none;
	outline: 0;
	color: #333333;
}

a:hover {
	color: #afafaf;
	text-decoration: none;
}   

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
	text-decoration: none;
	outline: 0;
}
a.btn, .btn {
	position: relative;
	color: #a1a1a1;
	background-color: transparent;
	font-size: 16px;
	transition: none;
	border-radius: 6px;
	border: 2px solid #a1a1a1;
  padding: 10px 20px;
}

a.btn:hover, .btn:hover {
	color: #000000;
	border: 2px solid #000000;
-webkit-transition: width 2s;
  transition: width 2s;
}

/* =================================== */
/*  Typography */
/* =================================== */
h1,
h2,
h3,
h4 {
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #262626;
	font-weight: 600;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 16px;
}

section {
    padding: 80px 100px;
}

.section-heading {
    font-size: 40px;
    color: #301c71;
    font-family: 'FreigSanProBold';
    text-align: center;
    padding-bottom: 30px;
}

/* =================================== */
/*  Container */
/* =================================== */
.container {
	max-width: 1920px;
	padding-left: 30px;
	padding-right: 30px;
}


/* =================================== */
/*  Header Navbar */
/* =================================== */
.navbar.navbar-expand-md {
    padding-top: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: #231f20;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #a51e22;
}
.navbar-brand img {
    width: 300px;
}
.navbar-right {
    width: 100%;
}
.navbar-nav {
    float: right;
    z-index: 1;
}
.nav-item {
    font-size: 20px;
    color: #000000;
    padding: 0 20px;
}

.nav-item:last-child{
    color: #fff;
    background-color: #a51e22;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 80px;
  }

  .nav-item:last-child:hover{
    background-color: #231F20;
  }

  .nav-item:last-child a{
    color: #fff !important;
  }

  .navbar.navbar-bg {
    background-color: #fff;
    padding-top: 8px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

@media (min-width: 1024px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

/* =================================== */
/*  Landing page */
/* =================================== */

.carousel-inner {
   height: 100vh;
}
.carousel-item img{
    width:100%;
    height: 100vh;
	}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.65);
} 
.carousel-indicators {
  bottom: 20px;
}
.carousel-indicators li {
    border-radius: 25px;
    border: 0px solid #fff;
    margin: 0 10px;

}
.carousel-indicators .active {
  background-color: #fff;
}
span.carousel-control-prev-icon, span.carousel-control-next-icon {
	display: none;
}
.carousel-caption h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: normal;
}
.carousel-icon {
    max-width: 300px;
    position: absolute;
    left: 50px;
    top: 50%;
    z-index: 10;
}

/* =================================== */
/*  Facts and Figures */
/* =================================== */

.facts{
  text-align: center;
}

.facts h3 {
    font-size: 40px;
    color: #7f6ce9;
    font-family: 'FreigSanProBold';
    border-bottom: 2px solid rgba(48, 28, 113, 0.5);
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
}

.facts h3:after {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #ff6263;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -5px;
    z-index: 1;
}
.facts p {
    color: #331975;
    font-size: 24px;
}

/* =================================== */
/*  Insights */
/* =================================== */

.insights {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../img/insights-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.insights h3 {
    font-size: 30px;
    color: #a11b18;
    font-family: 'FreigSanProBold';
}

.circle-container {
    position: relative;
    width: 45em;
    height: 45em;
    padding: 5.5em;
    border: 3px dashed #a51e22;
    border-radius: 50%;
    margin: 1.75em auto 0;
    margin-top: 250px;
    margin-bottom: 150px;
}

.circle-container .insight-container {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14em;
    height: 25em;
    margin: -7em;
}
.circle-container img {
    display: block; width: 100%;
}

.circle-container .insight-container.center {
    width: 25em;
    margin: -13em;
}

.circle-container .insight-container.center h3 {
    font-size: 42px;
    margin-top: 60px;
}

.deg0 {
    -webkit-transform: translate(20em, -14em);
    -moz-transform: translate(20em, -14em);
    -ms-transform: translate(20em, -14em);
    -o-transform: translate(20em, -14em);
    transform: translate(20em, -14em);
} /* 12em = half the width of the wrapper */
.lt-ie9 .deg0 {
    margin-left: 10em;
}
.deg45 {
    -webkit-transform: rotate(45deg) translate(20em, -5em) rotate(-45deg);
    -moz-transform: rotate(45deg) translate(20em, -5em) rotate(-45deg);
    -ms-transform: rotate(45deg) translate(20em, -5em) rotate(-45deg);
    -o-transform: rotate(45deg) translate(20em, -5em) rotate(-45deg);
    transform: rotate(45deg) translate(20em, -5em) rotate(-45deg);
}
.lt-ie9 .deg45 {
    margin: 6.485em;
}
.deg135 {
    -webkit-transform: rotate(135deg) translate(15em, -15em) rotate(-135deg);
    -moz-transform: rotate(135deg) translate(15em, -15em) rotate(-135deg);
    -ms-transform: rotate(135deg) translate(15em, -15em) rotate(-135deg);
    -o-transform: rotate(135deg) translate(15em, -15em) rotate(-135deg);
    transform: rotate(135deg) translate(15em, -15em) rotate(-135deg);
}
.lt-ie9 .deg135 {
    margin: 6.485em -10.485em;
}
.deg180 {
    -webkit-transform: translate(-20em, 10em);
    -moz-transform: translate(-20em, 10em);
    -ms-transform: translate(-20em, 10em);
    -o-transform: translate(-20em, 10em);
    transform: translate(-20em, 10em);
}
.lt-ie9 .deg180 {
    margin-left: -14em;
}
.deg225 {
    -webkit-transform: rotate(225deg) translate(25em, -5em) rotate(-225deg);
    -moz-transform: rotate(225deg) translate(25em, -5em) rotate(-225deg);
    -ms-transform: rotate(225deg) translate(25em, -5em) rotate(-225deg);
    -o-transform: rotate(225deg) translate(25em, -5em) rotate(-225deg);
    transform: rotate(225deg) translate(25em, -5em) rotate(-225deg);
}
.lt-ie9 .deg225 {
    margin: -10.485em;
}
.deg315 {
    -webkit-transform: rotate(315deg) translate(18em, -18em) rotate(-315deg);
    -moz-transform: rotate(315deg) translate(18em, -18em) rotate(-315deg);
    -ms-transform: rotate(315deg) translate(18em, -18em) rotate(-315deg);
    -o-transform: rotate(315deg) translate(18em, -18em) rotate(-315deg);
    transform: rotate(315deg) translate(18em, -18em) rotate(-315deg);
}
.lt-ie9 .deg315 {
    margin: -10.485em 6.485em;
}

/* =================================== */
/*  Associate */
/* =================================== */

.associate {
    padding: 100px;
    text-align: center;
}

.associate .section-heading {
    z-index: 2;
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 30px;
}

.slick-slider {
    border: 2px solid #d1d1d3;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -30px;
}

/* =================================== */
/*  Footer Contact*/
/* =================================== */

.footer-contact {
    background: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;
    padding: 0px 100px 100px;
    background-color: #aa272d;
}
.footer-contact a {
    color: #fff;
    display: block;
    font-size: 18px;
    font-family: 'FreigSanProLig';
}
.footer-contact a:hover {
    color: #afafaf;
}
.footer-contact .contact-deatails{
    position: relative;
    padding-left: 45px;
    padding-bottom: 20px;
}
.footer-contact .contact-deatails i {
    position: absolute;
    left: 0;
    color: #9b8ffb;
    font-size: 20px;
    top: 4px;
}
.footer-contact .contact-deatails a {
    color: #fff;
    display: inline-block;
}
.footer-contact .contact-deatails a:hover {
    color: #afafaf;
}
.footer-heading {
    color: #fff;
    font-size: 24px;
    font-family: 'FreigSanProBold';
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-heading:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 60px;
    bottom: -8px;
    left: 0;
    border-bottom: 3px solid #9b8ffb;
}
.footer-logo {
    text-align: center;
}

.footer-logo img {
    max-width: 350px;
    margin-top: -38px;
}

.footer-contact .form-control {
    background-color: #e6e6fe;
    border-radius: 0;
    border: 0px;
}
.footer-contact .form-control::placeholder {
   color: #a51e22;
   font-size: 20px;
}
.footer-contact .btn-right{
    text-align: right;
    margin-bottom: 20px;
}
.footer-contact .btn-contact {
    background-color: #e6e6fe;
    border: 0px;
    color: #a51e22;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px 25px;
}

.footer-contact .btn-contact:hover {
    background-color: #231F20;
    color: #e6e6fe;
}

.footer-copyright {
    background: #231f20;
    padding: 25px 100px;
}

.footer-copyright .social-icons img {
    height: 25px;
    margin-right: 20px;
}

.footer-copyright .social-icons img:hover {
    opacity: 0.5;
}

.copyright, .copyright a {
    color: #afafaf;
    text-align: center;
}

.copyright a:hover {
    color: #666;
}

/* =================================== */
/*  Responssive CSS */
/* =================================== */

@media(max-width:1366px){
.insights {
    padding-top: 50px;
    padding-bottom: 150px;
}

.circle-container {
    margin-top: 150px;
    margin-bottom: 50px;
}
.footer-heading {
    font-size: 20px;
}
.nav-item:last-child{
    margin-right: 20px;
  }
}

@media(max-width:1024px){
section, .associate {
    padding: 50px 20px;
}
.navbar-brand img {
    width: 250px;
}
.carousel-caption h1 {
    font-size: 34px;
}
.section-heading {
    font-size: 32px;
}
.carousel-icon {
    max-width: 200px;
    position: absolute;
    left: 20px;
    top: 35%;
    z-index: 10;
}
.footer-logo img {
    max-width: 250px;
    margin-top: -25px;
}
.footer-contact {
    padding: 0px 20px 100px;
}
.footer-copyright {
    padding: 20px 20px;
}
.insights h3 {
    font-size: 18px;
}
.circle-container {
    position: relative;
    width: 25em;
    height: 25em;
}
.circle-container .insight-container{
    width: 8em;
    height: 14em;
    margin: -4em;
}
.circle-container .insight-container.center {
    width: 12em;
    margin: -6em;
}
.circle-container .insight-container.center h3 {
    font-size: 24px;
    margin-top: 40px;
}
.deg315 {
    -webkit-transform: rotate(315deg) translate(10em, -10em) rotate(-315deg);
    -moz-transform: rotate(315deg) translate(10em, -10em) rotate(-315deg);
    -ms-transform: rotate(315deg) translate(10em, -10em) rotate(-315deg);
    -o-transform: rotate(315deg) translate(10em, -10em) rotate(-315deg);
    transform: rotate(315deg) translate(10em, -10em) rotate(-315deg);
}
.deg225 {
    -webkit-transform: rotate(225deg) translate(10em, -2em) rotate(-225deg);
    -moz-transform: rotate(225deg) translate(14em, -2em) rotate(-225deg);
    -ms-transform: rotate(225deg) translate(14em, -2em) rotate(-225deg);
    -o-transform: rotate(225deg) translate(14em, -2em) rotate(-225deg);
    transform: rotate(225deg) translate(14em, -2em) rotate(-225deg);
}
.deg0 {
    -webkit-transform: translate(12em, -8em);
    -moz-transform: translate(12em, -8em);
    -ms-transform: translate(12em, -8em);
    -o-transform: translate(12em, -8em);
    transform: translate(12em, -8em);
}
.deg45 {
    -webkit-transform: rotate(45deg) translate(12em, -5em) rotate(-45deg);
    -moz-transform: rotate(45deg) translate(12em, -5em) rotate(-45deg);
    -ms-transform: rotate(45deg) translate(12em, -5em) rotate(-45deg);
    -o-transform: rotate(45deg) translate(12em, -5em) rotate(-45deg);
    transform: rotate(45deg) translate(12em, -5em) rotate(-45deg);
}
.deg135 {
    -webkit-transform: rotate(135deg) translate(8em, -8em) rotate(-135deg);
    -moz-transform: rotate(135deg) translate(8em, -8em) rotate(-135deg);
    -ms-transform: rotate(135deg) translate(8em, -8em) rotate(-135deg);
    -o-transform: rotate(135deg) translate(8em, -8em) rotate(-135deg);
    transform: rotate(135deg) translate(8em, -8em) rotate(-135deg);
}
.deg180 {
    -webkit-transform: translate(-12em, 5em);
    -moz-transform: translate(-12em, 5em);
    -ms-transform: translate(-12em, 5em);
    -o-transform: translate(-12em, 5em);
    transform: translate(-12em, 5em);
}
}
@media(max-width:768px){
.navbar-brand img {
    width: 200px;
}
.navbar-light .navbar-nav .nav-link {
    text-align: right;
}
.carousel-item img {
    width: auto;
    height: 100vh;
}
.carousel-caption h1 {
    font-size: 32px;
}
.section-heading {
    font-size: 30px;
    padding-bottom: 0px;
}
.slick-slider {
     margin-top: 5px;
}
.insights {
    padding-bottom: 200px;
}
.circle-container {
    position: relative;
    width: auto;
    height: 55em;
    border: 0px dashed #a51e22;
}
.circle-container .insight-container.center h3 {
    font-size: 24px;
    margin-top: 75px;
}

.deg315 {
    -webkit-transform: rotate(315deg) translate(22em, -22em) rotate(-315deg);
    -moz-transform: rotate(315deg) translate(22em, -22em) rotate(-315deg);
    -ms-transform: rotate(315deg) translate(22em, -22em) rotate(-315deg);
    -o-transform: rotate(315deg) translate(22em, -22em) rotate(-315deg);
    transform: rotate(315deg) translate(22em, -22em) rotate(-315deg);
}
.deg225 {
    -webkit-transform: rotate(225deg) translate(14em, 14em) rotate(-225deg);
    -moz-transform: rotate(225deg) translate(14em, 14em) rotate(-225deg);
    -ms-transform: rotate(225deg) translate(14em, 14em) rotate(-225deg);
    -o-transform: rotate(225deg) translate(14em, 14em) rotate(-225deg);
    transform: rotate(225deg) translate(14em, 14em) rotate(-225deg);
}
.deg0 {
    -webkit-transform: translate(0em, -8em);
    -moz-transform: translate(0em, -8em);
    -ms-transform: translate(0em, -8em);
    -o-transform: translate(0em, -8em);
    transform: translate(0em, -8em);
}
.deg135 {
    -webkit-transform: rotate(135deg) translate(25em, -25em) rotate(-135deg);
    -moz-transform: rotate(135deg) translate(25em, -25em) rotate(-135deg);
    -ms-transform: rotate(135deg) translate(25em, -25em) rotate(-135deg);
    -o-transform: rotate(135deg) translate(25em, -25em) rotate(-135deg);
    transform: rotate(135deg) translate(25em, -25em) rotate(-135deg);
}
.deg45 {
    -webkit-transform: rotate(45deg) translate(16em, 16em) rotate(-45deg);
    -moz-transform: rotate(45deg) translate(16em, 16em) rotate(-45deg);
    -ms-transform: rotate(45deg) translate(16em, 16em) rotate(-45deg);
    -o-transform: rotate(45deg) translate(16em, 16em) rotate(-45deg);
    transform: rotate(45deg) translate(16em, 16em) rotate(-45deg);
}
.deg180 {
    -webkit-transform: translate(0em, 10em);
    -moz-transform: translate(0em, 10em);
    -ms-transform: translate(0em, 10em);
    -o-transform: translate(0em, 10em);
    transform: translate(0em, 10em);
}
}
