@{
    ViewBag.Title = "About";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>About</span></a>  </div> </div>";

}
@*<div class="container">
    <h1 class="redtext">About us</h1>
    <p>
        Staybazar.com is an online market place for various alternate stay options. Staybazar
        has a robust technological platform offering a wide range of alternate stay options to
        our individual, family and corporate customers and the offering ranges from Serviced
        Apartments, Resorts, Homestays, Theme stays, etc.
    </p>
    <p>
        Stay Bazar customers can search and book homely stay options of their choice for
        shorter to longer duration from the convenience of their home or office by logging on
        staybazar.com. No more worry of compromising yourself to a cramped hotel room while
        on your personal or business travel.
    </p>
    <p>
        Head quartered in Bangalore, Stay Bazar covers most major cities and towns of India.
        Staybazar has plans to further enhance its geographies to other Asian markets in year
        2015 and thereafter to other international geographies.
    </p>
    <p>
        Staybazar has been promoted by a group of professionals with vast experience in diverse
        areas and industries, having combined experience close to 100 man years.
    </p>
    <br />
</div>*@
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading" style="padding-bottom:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Travel buddies  </h2>
                        <h3 class="landing-caption"> plan ahead...</h3>
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ABout us heading section-->
    <section class="about-section text-center">
        <div class="title-heading">
            <h3> ABOUT US</h3>
        </div>
        <p class="text-justify">
            Staybazar.com is an online accommodation discovery and booking platform, with focus on business travel. It is a one stop solution for corporate for all their accommodation and conferencing requirements.
            Besides connected to 800000 plus hotels & other accommodation options around the world.<br /><br />Staybazar has a unique collection of more than 4000 pre-curated alternate accommodations across India. Corporate Travelers can choose and book accommodation options ranging from Serviced Apartments, Guest Houses, Hotels, Resorts, Home Stays, etc, and at budgets suiting the daily entitlement of the lowest grade employee to employees of Senior and Top Management of a corporate. <br /><br />
            The self-booking feature on the platform available to corporate users on login helps them to manage their business travel accommodation bookings smoothly. The platform understands the dynamism of business travel, which makes the booking process easy and effective. For each user, one can pre-define the preferred location, preferred hotels if any, city-wise maximum daily lodging entitlement, etc, The platform can take care of multi levels of approvals of travel and budget, before a booking can be done. It allows the employees to book their accommodation by themselves, while in compliance with the organization’s travel policies.<br /><br />
            The Corporate Conference & Events service provided by Staybazar offers the best of hotels & resorts at the best of prices along with the best of services.<br /><br />
            Staybazar is promoted by a group of professionals with experience in vast and diverse areas and industries and assisted by a highly talented team.
        </p>
    </section>
</div>