@{
    ViewBag.Title = "Partners/Affiliates";
}
<div class="container bdy_min_height">
    <div class="row">
        <div class="col-md-12">
            <div class="margin10px">
                <h3 class="redtext">Partners/Affiliates</h3>
                <p>Staybazar welcomes business groups and organizations who would like to tie up with us on any business opportunities. Please contact us at <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a>.</p>
            </div>
        </div>
    </div>
</div>