
@{
    ViewBag.Title = "Careers";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Careers</span></a>  </div> </div>";

}
@*<div class="container">
    <div class="row bdy_min_height">
        <div class="col-md-12">
            <h1 class="redtext">Careers</h1>
            <p>Staybazar is process of expansion and is looking for talented professionals with experience in travel, hospitality, technology, sales and digital marketing.  Our main locations are Bangalore, Mumbai and Delhi.</p><p>If you are interested in what we do and would like to be part of our team please contact us at <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a>.</p>
        </div>
    </div>
</div>*@
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading">
            <div class="container" style="padding-bottom:0px;">
                <div class="row">
                    <div class="col-12">
                        <h2> Travel buddies  </h2>
                        <h3 class="landing-caption"> plan ahead...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <section class="about-section text-center">
        <div class="row ">
            <div class="col-12">
                <div class="title-heading">
                    <h3> JOIN OUR TEAM</h3>
                </div>
                <p class="text-justify">Staybazar is in the process of expansion and is looking for talented professionals with experience in travel, hospitality, technology, tele-calling, sales and digital marketing.</p>
                <br />
                <h3>Our main locations are<br /><strong> Bangalore, Mumbai and Delhi.</strong> </h3>
                <p class="text-justify">If you are interested in what we do, and would like to be part of our team, please contact us at <strong>hr@staybazar.com</strong> </p>
            </div>
        </div>
    </section>
</div>