@{
    ViewBag.Title = "Contact Us";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Contact Us</span></a>  </div> </div>";

}
@*<link href="~/Content/css/style.css" rel="stylesheet" />*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>*@
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading">
            <div class="container" style="padding-top:0px;">
                <div class="row">
                    <div class="col-12">
                        <h2> Embark on a </h2>
                        <h3 class="landing-caption"> new Journey</h3>
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ABout us heading section-->
    <div class="container" style="padding-bottom:25px;padding-top:0px;">
        <div class="title-heading">
            <h3> CONTACT US</h3>
            <h4 style="text-align:center;font-size:28px;color:#aa272d;"> SOUTHERN E-COMMERCE SOLUTIONS PVT LTD</h4>
            <br />
            <br />
        </div>
        <div class="row">

            <div class="col-sm-4">
                <h2>Head Office</h2>
                <p class="justify-content-center" style="font-family:'Times New Roman'">
                    No. 993, 2nd Floor,9th Main, Sector – 7, HSR Layout, Bangalore – 560 102, India
                    <br />Phone: 080-2572-2898 / 4091 6686 / 1800 425 239
                    <br />E-Mail: support@staybazar.com
                </p>
            </div>

            <div class="col-sm-4">
                <h2>Mumbai Office</h2>
                <p class="justify-content-center" style="font-family:'Times New Roman'">
                    #304, C Wing, Twin Arcade, Marol Military Road, Andheri (East),
                    Mumbai - 400 059
                    <br />
                    Phone: 022-4023-2625 / 078290-63000
                    <br />
                    E-mail: ops.west@staybazar.com
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Registered Office</h2>
                <p class="justify-content-center" style="font-family:'Times New Roman'">
                    # S-2, EXSULTARE, No. 38-A, 2nd Avenue, Shubh Enclave, Haralur Road,
                    Bangalore – 560102, India
                </p>
            </div>


        </div>
        <br />
        <br />
        <b class="col-md-12 text-center" style="font-family:'Times New Roman'">CIN: U74900KA2014PTC073050</b>
    </div>



    @*<section class="about-section text-center">


            <div class="row">
                <div class="col-md-3 align-content-center">

                    <p>Head Office:-</p>
                </div>
                <div class="col-md-8">
                    <p class="text-justify">
                        No. 993, 2nd Floor,9th Main, Sector – 7, HSR Layout, Bangalore – 560 102, India
                        <br />Phone: 080-2572-2898 / 4091 6686 / 1800 425 239
                        <br />E-Mail: support@staybazar.com
                    </p>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-3 align-content-center">
                    <p>Registered Office:-</p>
                </div>
                <div class="col-md-8">
                    <p class="text-justify">
                        # S-2, EXSULTARE, No. 38-A, 2nd Avenue, Shubh Enclave, Haralur Road,
                        Bangalore – 560102, India
                    </p>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-3 align-content-center">
                    <p>Mumbai Office :-</p>
                </div>
                <div class="col-md-8">
                    <p class="text-justify">
                        #304, C Wing, Twin Arcade, Marol Military Road, Andheri (East),
                        Mumbai - 400 059
                        <br />
                        Phone: 022-4023-2625 / 078290-63000
                        <br />
                        E-mail: ops.west@staybazar.com
                    </p>
                </div>

            </div>
            <hr />
        </section>*@

    @*<div class="row">
            <div class="col-md-6 ">
                <strong>Head Office:-</strong>
                <address class="text-left">
                    No. 993, 2nd Floor,9th Main, Sector – 7, HSR Layout,Bangalore – 560 102, India Phone: 080-2572-2898 /40916686 /098801-88880 E-Mail: <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a>
                </address>
            </div>
            <div class="col-md-6">
                <strong>Registered Office:-</strong>
                <address class="text-left">
                    #S-2, EXSULTARE, No. 38-A, 2nd Avenue, Shubh Enclave, Haralur Road, Bangalore – 560102, India Phone: 090190-66111
                </address>
            </div>
        </div>*@
    @*<div class="row">
        <div class="col-md-6">
            <strong>
                Mumbai Office :-
            </strong>
            <address class="text-left">
                #304, C Wing, Twin Arcade, Marol Military Road, Andheri (East), Mumbai - 400 059 Phone : 022-4023-2625 / 078290-63000 E-mail: <a href="mailto:rohit@staybazar.com">rohit@staybazar.com</a>
            </address>
        </div>*@
    @*<div class="col-md-6 hide">
                <strong>New Delhi Office :-</strong>
                <address class="text-left">
                    Phone: 088601-00396 E-mail: <a href="mailto:tarun@staybazar.com">tarun@staybazar.com</a>
                </address>
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-md-6">
                <strong>
                    Kochi Office :-
                </strong>
                <address class="text-left">
                    Suite No.1, 2nd Floor, Spring Dew Commercial Centre, Seaport-Airport Road, Kochi – 682 301, Kerala. Phone: 0484-3202015 / 09495775511
                </address>
            </div>

        </div>*@
    @*<div class="row">
            <div class="col-md-12">
                <strong>Bangalore -  Corporate Head Office </strong>
                <address>
                    Staybazar<br />
                    Division of  Southern E-Commerce Solutions Private Ltd<br />
                    # 572, 20th Main, 1st Cross 8th Block<br />
                    Koramangala<br />
                    Bangalore - 560095<br />
                    Karnataka, India<br />
                </address>
                <address>
                    <strong>Email:</strong> <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a><br />
                    <strong>Phone:</strong> @BLayer.Settings.GetValue(CLayer.Settings.STAYB_CONTACTNO)
                </address>
                <strong> Existing Bookings</strong>
                <p>Please use <a href="~/BookingHistory/">Login My  Account</a> to access and view or take any actions on your bookings</p>
            </div>
        </div>*@


</div>