@{
    ViewBag.Title = "How Staybazar works";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>How Staybazar works</span></a>  </div> </div>";

}
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading" style="padding-bottom:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Assured Assistance  </h2>
                        <h3 class="landing-caption"> for all your Bussiness Trips</h3>
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ABout us heading section-->
    <section class="about-section text-center">
        <div class="title-heading">
            <h3> HOW STAYBAZAR WORKS</h3>
        </div>
        <p class="text-justify">
            Staybazar.com is a technology driven accommodation discovery and booking platform for business travelers. The platform is built keeping in mind of the business travel dynamics. Accommodation options on Staybazar include Serviced Apartments, Guest Houses, Homestays, Hotels, Resorts, etc. Corporate can search and book accommodations in 800000 plus options worldwide, including 80000 plus from India, which includes 4000 unique pre-curated alternate accommodation options.
        </p>        
        <div class="other-title  text-left">
            <h5>The Product features include: </h5>
        </div>
        <div class="underline-points">
            <ul class="text-left">
                <li> Robust technology platform for discovery and booking of accommodation for business travelers, with large range of properties</li>
                <li> Multi user login can be created by corporate admin on the platform</li>
                <li> Enable employees to book their accommodation by themselves, in compliance with the corporate HR Policies</li>
                <li> Rules can be set with respect to daily entitlements for every employee, thereby translating the HR/Admin policies into the platform</li>
                <li> Online 24x7 chat module, a query/feedback page, toll free number, etc., to handle customer queries/escalations effectively</li>
                <li> Platform has listing of largest number of curated alternate accommodation properties</li>
                <li> Option for multi-level approval of Travel and Budget, before booking can be done</li>
                <li> Download Booking Vouchers, Invoices, and other booking related documents from the platform. Generate relevant MIS reports for internal analysis</li>
                <li> Platform extendable to the IT infrastructure of corporate customers</li>
                <li>Competitive pricing as a result of collective buying power</li>
            </ul>
            <p class="text-justify">Staybazar has pre-negotiated special price contracts with most major hotel chains, which allows corporates to get best rates along with best of services.</p>

            <div class="other-title  text-left">
                <h5>Staybazar’s Services to Corporates include:</h5>
            </div>
            <div class="underline-points">
                <ul class="text-left">
                    <li> Daily accommodation for individual travelers</li>
                    <li> Long term accommodation </li>
                    <li> Group accommodation</li>
                    <li> Team outings, Incentive programs, small gatherings, Lunch/Dinner parties</li>
                    <li> Residential conferences – from few pax to hundreds of paxes. </li>
                    <li> Special deals for employees of corporate clients </li>
                </ul>
                <p class="text-justify">All registered corporates are provided with master user ids on the platform, with admin rights, so that the corporate admin can create users, set rights & daily entitlements, tag preferred properties for each traveler at different locations, etc. Staybazar’s help is available to the newly signed corporate throughout the onboarding and user training process.</p>
                <p class="text-justify">Each user can login to the system and do their own booking and also manage existing booking. Admin can draw various MIS from the system for analysis and effective decision making. </p>
            </div>
        </div>
    </section>
</div>
