@{
    ViewBag.Title = "Payment Guidelines";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Payment Guidelines</span></a>  </div> </div>";

}
@*<div class="container">
    <div class="row bdy_min_height">
        <div class="col-md-12">
            <div class="margin10px">
                <h1 class="redtext">Staybazar – Payment Guidelines</h1>
                <p>Thank you for visiting Staybazar web site.</p>
                <p>All terms and conditions pertaining to payment on site are under “@Html.ActionLink("Terms of Use", "TermsOfUse", "Home")”.  All payments made on Staybazar.com are secure and any user or visitor to the site is covered as per our “@Html.ActionLink("Privacy Policy", "Privacy", "Home")”.</p>
                <p>Staybazar supports payments of following types:</p>
                <ol>
                    <li>
                        Major Credit Cards including Visa, MasterCard, American Express, JCB and Diners Club
                    </li>
                    <li>
                        Netbanking with most banks in India
                    </li>
                    <li>
                        Debit cards for most banks in India
                    </li>
                    <li>
                        Cash Cards
                    </li>
                    <li>
                        Paypal (for international travelers)
                    </li>
                </ol>
                <p>The site will request you to input required information to complete payment using above options once you decide to proceed on booking.</p>
                <p>For any issues or clarifications please reach out to us at <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a></p>
                <div class="height10"></div>
            </div>
        </div>
    </div>
</div>*@
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Where Experience is </h2>
                        <h3 class="landing-caption"> as good as Experience</h3>
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ABout us heading section-->
    <section class="about-section text-left">
        <div class="title-heading">
            <h3> CAREER</h3>
        </div>
        <p>Staybazar is process of expansion and is looking for talented professionals with experience in travel, hospitality, technology, sales and digital marketing.  Our main locations are Bangalore, Mumbai and Delhi.</p><p>If you are interested in what we do and would like to be part of our team please contact us at <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a>.</p>
    </section>
</div>
