@{
    ViewBag.Title = "Privacy Policy";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Privacy Policy</span></a>  </div> </div>";
}
<div class="landing-img-faq">
    <div class="landing-heading">
        <div class="container">
            <div class="row">

                <!-- <div class="col-6">
                </div> -->
            </div>
        </div>
    </div>
</div>
<!--Landing Starts Here -->
<div class="priv-pol-section">
    <div class="title-heading  text-center">
        <h3>PRIVACY POLICY</h3>
    </div>
    <div>
        <P class="para-priv-pol text-justify">
            Staybazar has developed this Privacy Policy in order to demonstrate our firm commitment to ensuring the privacy of your data. We are committed to safeguarding the privacy of your data whilst providing personalised and valuable service. This Privacy Policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. Your association with us is always important to us. That's why we insist upon the highest standards for privacy of our customer information. Please read the following statement to learn about our information gathering and dissemination practices.
        </P>
    </div>
    <br />
    <br />
    <div class="parent-div">
        <section id="priv-pol" class="faq">







            <div id="accordion" class="myaccordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Note</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, request you to periodically review this policy.</p>

                            <p>By visiting this Website you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree, please do not use or access our Website.</p>

                            <p>By mere use of the Website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Use</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Collection Of Personal And Other Information</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>When you use our Website, we store your browsing information. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Website to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose.</p>

                            <p>In general, you can browse the Website without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. To the extent possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the Website. We may automatically track certain information about you based upon your behavior on our Website. We use this information to do internal research on our users' demographics, interests, and behavior to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or not), your computer browser information, and your IP address.</p>

                            <p>We use data collection devices such as "cookies" on certain pages of the Website to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your hard drive that assist us in providing ourservices. We offer certain features that are only available through the use of a "cookie". Please refer to our Cookies section for more information.</p>

                            <p>Additionally, you may encounter "cookies" or other similar devices on certain pages of the Website that are placed by third parties. We do not control the use of cookies by third parties.</p>

                            <p>If you choose to buy on the Website, we collect information about your buying behavior</p>

                            <p>If you transact with us, we collect some additional information, such as a billing address, a credit / debit card number and a credit / debit card expiration date and/ or other payment instrument details. Credit card and banking related details are not stored by our system and used temporarily only for completing financial transactions. In case of Business Users, you would have provided the one time data while creating your corporate profile and profiles of various employees in our system.</p>

                            <p>If you choose to post reviews and tips about properties you stayed or post messages or leave feedback, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law. We will also make these reviews available to subsequent bookers to view so that they can take informed decision. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Website, we may collect such information into a file specific to you. We collect personally identifiable information (email address, name and phone number.) from you when you set up an account with us. We do use your contact information to send you offers based on your previous orders and your interests.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Security And Data Retention</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>We are committed to ensuring the security of all data that we collect from you and we are constantly reviewing our security policies to prevent third parties from accessing any data we hold. We employ a system of username and passwords on our computer system to ensure only authorized persons are permitted access to our computer systems.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Cookies</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body">
                            <p>A cookie is a small amount of information which is stored on the hard drive of your computer by your web browser. The use of cookies allows us to provide you with a more personalized service when you revisit our Website.</p>

                            <p>Cookies will enable us to:</p>
                            <ul>
                                <li>Store information about your preferences, which allows us to customise our services to you</li>
                                <li>Speed up your searches</li>
                                <li>Recognise you when you return to our Website</li>
                                <li>Estimate our audience size and usage pattern</li>
                            </ul>
                            <p>
                                Most web browsers accept cookies automatically but you may set up your computer to reject cookies altogether. In that case, we cannot guarantee that you will be able to use all features on our Website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfive">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Disclosure Of Your Information</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                        <div class="card-body">
                            <p>We will not, with the exception of certain uses set out in this Privacy Policy, disclose any personal information that we keep about you to any third party, unless required by the police, or any regulatory or government authority to provide your information and or information concerning your use of our Website according to your individual interests</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingsix">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Sharing Of Personal Information</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <div class="card-body">
                            <p>We will share personal information with companies, organizations or individuals outside of Staybazar if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:</p>

                            <ul>
                                <li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
                                <li>enforce applicable Terms of Service, including investigation of potential violations.</li>
                                <li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
                                <li>protect against harm to the rights, property or safety of Staybazar, our users or the public as required or permitted by law.</li>
                            </ul>

                            <p>We may share aggregated, non-personally identifiable information publicly and with our partners – like property owners, our business affiliates, agents or connected sites. For example, we may share information publicly to show trends about the general use of our services. We may also share consolidated information provided by like-minded users with alternate stays without ever taking individual names, email ids or other contact details.</p>

                            <p>If Staybazar is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingseven">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq"> Security Precautions</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                        <div class="card-body">
                            <p>Our Website has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access. For example, we use superior security software to protect users against identity theft & spyware; etc.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingeight">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Your Consent</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
                        <div class="card-body">
                            <p>By using the Website and/ or by providing your information, you consent to the collection and use of the information you disclose on the Website in accordance with this Privacy Policy, including but not limited to your consent for sharing your information as per this privacy policy.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingnine">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Changes To Our Privacy Policy</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordion">
                        <div class="card-body">
                            <p>We may from time to time amend our Privacy Policy. If we do make any such amendments, the amended Privacy Policy will be posted on our Website and the revised policy will take effect once posted. Your continued use of our Website after the posting will signify your agreement to the new policy.</p>

                            <p>If we make any substantial changes to the Privacy Policy we may notify you by email to provide you with an opportunity to opt-out of having your data held in accordance with the amended policy.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingten">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Transmission Of Data</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordion">
                        <div class="card-body">
                            <p>Whilst we have taken all reasonable steps to ensure that the information you provide will be kept secure from unauthorised access the internet is not a totally secure environment and we cannot guarantee that the information will be secure during transmission by you to our Website.</p>
                        </div>
                    </div>
                </div>
            </div>



        </section>
    </div>










</div>