@{
    ViewBag.Title = "Property Listing Terms";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Property Listing Terms</span></a>  </div> </div>";

}

<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading" style="padding-bottom:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Unplug and  </h2>
                        <h3 class="landing-caption"> unwind</h3>
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ABout us heading section-->
    <section class="about-section text-left text-justify">
        <div class="title-heading">
            <h3> TERMS AND CONDITIONS</h3>
        </div>
        
        <h2 class="redtext">For listing properties on Staybazar.com</h2>
        <p class="text-justify" style="font-size:20px;">
            This document states the terms and conditions and guidelines under which Southern E-Commerce Solutions Pvt Ltd (hereinafter referred as “Staybazar” which means Staybazar.com) and the Property (which means Serviced Apartments, Guest Houses, Home Stays, Hotels, Resorts, etc) conduct business. Staybazar.com will list and allow reservation of properties / accommodation inventories listed in the Property Information Sheet which forms part of the Property Listing Agreement. The Agreement begins on the date set out in it and continues until terminated by either party in writing. Where either Party, with or without cause terminates this Agreement, Property must still honor any reservations Staybazar had made / will make before the expiry of notice period, even if the check-in/check-out dates fall beyond the termination date.
        </p>
        <br />
        <ol class="text-justify" style="font-size:18px;">
            <li>
                The Property will notify Staybazar of any promotion or discount rate available to all other distribution partners. Any such lower rate will be available for Staybazar as well and will automatically override the rates stated in the Property Listing Agreement.
            </li>
            <li>
                The type of accommodation, service or product supplied by the Property together with full details of the costs or charges, including all taxes and levies, are as agreed between the Property and Staybazar
            </li>
            <li> Any subsequent agreements made between Property and Staybazar will be deemed as part of this agreement and therefore binding on both parties.</li>
            <li> Property shall hold and commit to Staybazar for booking the number and category of accommodation set out in “Staybazar.com” website. Property shall charge Staybazar only the rates set out in the Accommodation and Rates Information Sheet</li>
            <li>All terms and details of this Agreement are to remain confidential to the parties, and must not be disclosed to any third party including the client.</li>
            <li>The Property must conform to all local laws, governmental and municipal regulations in respect of safety, health, hygiene, fire regulations etc., and ensure their management enforces these regulations.</li>
            <li>Staybazar is an aggregator-cum-reseller and it would be complying with all statute applicable to its business. Staybazar assume that the Property is in compliance with all statutory and other regulations. Property should indemnify Staybazar and keep Staybazar indemnified from any and all consequences arising out of Property’s failure to comply with any applicable guideline / statutory regulation.</li>
            <li>Property should ensure only correct and accurate information is provided to Staybazar about their amenities and features, including listing information. Property would be solely responsible for any wrong information provided to Staybazar.</li>
            <li>The Property will indemnify Staybazar in respect of each and every liability arising out of the infringement of copyrights (e.g. regarding to photographic material provided by the Property) and claims by guests concerning erroneous information of the Property on the website or any other claims related to services provided by the Property. Staybazar excludes any and all liability in respect of the Property which is related to a (temporary) breakdown of the Websites. Complaints made by Guests are to be dealt with by the Property, without mediation by Staybazar.</li>
            <li>Should any of the facilities offered by the Property at the time of signing this Agreement become unavailable during the course of the Agreement either permanently or temporarily, Staybazar must immediately be informed in writing, by fax or email, in any case not later than 12 hours of the knowledge of the facilities becoming unavailable. Staybazar will then have the right to re-negotiate the Agreement to reflect the loss of facilities. The Property guarantees to indemnify Staybazar against any loss or damage of whatever nature suffered by Staybazar as a result of the unavailability of offered facilities. If any facility attached to an accommodation already booked by Staybazar clients, then the Property must immediately notify Staybazar of the change by fax / email within 12 hours of the knowledge of the facilities becoming unavailable. In such case, Staybazar or its clients, at their option, reserve the right to cancel the booking without any cost. If Staybazar decides to retain the booking, the price for such booking would be re-negotiated and reduced to reflect the lack of promised facility.</li>
            <li>Listing of any Property in Staybazar is at the option and discretion of Staybazar. Signing this agreement give no right to Property in regard to listing in Staybazar.com or services offered by Staybazar.</li>
            <li>The Property grants an explicit authorization to Staybazar to conclude agreements on behalf and for the account of the Property with guests booked through Staybazar.com. The Property is bound to accept the guest as a contractual party, and to deal with the booking in compliance with all the information contained in it, including any supplementary information and/or wishes made known by the guest. Proof of Confirmation Voucher or e-mail having been sent by Staybazar to the Property shall also act as proof of receipt of the booking by the Property.</li>
            <li>The Property commits itself to make available a minimum number of accommodation, bookable via the booking-tool of Staybazar. The Property carries its own responsibility in ensuring that Staybazar.com is informed of additional availability of rooms for certain periods, or may choose to update directly into the on-line system.</li>
            <li>The Property guarantees that the price mentioned on the Websites corresponds to the best available price for an overnight stay and that a lower price will not offered to anyone for the same room type for same date either directly by the Property or through third parties / travel portals.</li>
            <li>Property and Staybazar cannot charge each other for any damage upon terminating the agreement. After termination of the agreement, the Property has to honour all booked accommodation for the upcoming period, booked prior to the termination date.</li>            <li>
                Trust is the essence of this Agreement. Staybazar incurs substantial cost to market its portal and the properties listed with it. During validity of this Agreement, Property should:-
                <ol type="a" class="text-justify" style="font-size:18px;">
                    <li>not take direct booking from Staybazar customers</li>
                    <li>not get into any form of agreement (long term or short term) with Staybazar customers for provision of accommodation services</li>
                    <li>not under quote to Staybazar customers a price lower than what Staybazar offers to its customers on its portal</li>
                    <li>keep Staybazar informed in case if any of its customer decides to extent their stay by direct discussion with Property. In such case, Property should pay Staybazar the difference between Staybazar’s customer price and Staybazar’s contracted price with the Property, as soon as the extension arrangement is finalized.</li>
                    <li>encourage Staybazar customers to do their accommodation booking directly through the Staybazar portal, to the extent possible.</li>
                </ol>
            </li>
            <li>
                Payment:
                <ol type="a" class="text-justify" style="font-size:18px;">
                    <li>All accommodation charges will be collected by Staybazar from their customers</li>
                    <li>Staybazar would be issuing confirmation vouchers to customers and Properties.</li>
                    <li>Property’s invoices to Staybazar should be accompanied by Confirmation Voucher issued by Staybazar</li>
                    <li>Staybazar guarantees payment to Property only to the extent of contracted charges applicable to the confirmed accommodation, net of subsequent cancellation if any</li>
                    <li>Any extension of stay not routed through Staybazar or room service or any charge not covered in this agreement, should be collected by the Property directly from the client and Staybazar will no way be responsible for such charges.</li>
                    <li>Payment against the Confirmed reservations would be made by Staybazar to the Property by means of direct bank transfer, based on agreed payment term</li>
                    <li>Where Staybazar client decides to extent his/her stay directly in discussion with Property, the Property should pay Staybazar the difference between Staybazar’s customer price and Staybazar’s contracted price with the Property as soon as the extension arrangement is finalized.</li>
                </ol>
            </li>
            <li>FORCE MAJEURE / INABILITY TO HONOR RESERVATIONS: A Property’s failure to perform under this Agreement is excused if the failure results from an unforeseeable cause beyond Property’s control, such as war, work stoppage, fire, weather events, air carrier interruption, or act of government.</li>
        </ol>
    </section>
</div>

