
@{
    ViewBag.Title = "Purpose and Standards";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Purpose and Standards</span></a>  </div> </div>";

}
@*<div class="container">
    <div class="row bdy_min_height">
        <div class="col-md-12">
            <div class="margin10px">
                <h1 class="redtext">Staybazar – Purpose and Standards</h1>
                <h4>Our purpose</h4>
                <p>Staybazar objective is to be the leading online market place for all kind of alternate stays by offering memorable travel experiences and value for money to travellers. </p>
                <p>Alternate stays are accommodations which provide refreshing options as compared to hotels and include service apartments, home stays and theme stays.</p>
                <h4>Our vision</h4>
                <p>Our long term vision is to be the global leader in alternate stays business and be the preferred provider by consumers and corporate businesses.</p>
                <p>We strive to provide accommodations which meet high quality standards and thatmeet our clients’ specific requirements.  We plan to achieve this going through elaborate sourcing process, working on continuous improvements and ensuring availability of quality stays in key locations in India and other countries.</p>
                <p>We also strive to bring together this segment of hospitality industry into a common platform, and help them to more visible to travelers around globe. </p>
                <p><h4>Our standards and values</h4></p>
                <strong>Employees</strong>
                <p>We recognize the importance of employees and will strive to ensure employees are recognized and appreciated and we have an employee friendly workplace.  We also ensure employees are being right set of challenges and targets to help our business succeed.</p>
                <strong>Business</strong>
                <p>Staybazar believes in conducting business in professional and ethical manner. We understand our responsibilities and will ensure right standards and practices are being used when working with our suppliers and partners.</p>
                <div class="height10"></div>
            </div>
        </div>
    </div>
</div>*@
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img">
        <div class="landing-heading">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2> Where Experience is </h2>
                        <h3 class="landing-caption"> as good as Experience</h3>
                    </div>
                    <!-- <div class="col-6">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ABout us heading section-->
    <section class="about-section text-center">
        <div class="title-heading">
            <h3> STAYBAZAR - PURPOSE AND STANDARDS</h3>
        </div>
        
        <h4>Our purpose</h4>
        <p>Staybazar objective is to be the leading online market place for all kind of alternate stays by offering memorable travel experiences and value for money to travellers. </p>
        <p>Alternate stays are accommodations which provide refreshing options as compared to hotels and include service apartments, home stays and theme stays.</p>
        <h4>Our vision</h4>
        <p>Our long term vision is to be the global leader in alternate stays business and be the preferred provider by consumers and corporate businesses.</p>
        <p>We strive to provide accommodations which meet high quality standards and thatmeet our clients’ specific requirements.  We plan to achieve this going through elaborate sourcing process, working on continuous improvements and ensuring availability of quality stays in key locations in India and other countries.</p>
        <p>We also strive to bring together this segment of hospitality industry into a common platform, and help them to more visible to travelers around globe. </p>
        <p><h4>Our standards and values</h4></p>
        <strong>Employees</strong>
        <p>We recognize the importance of employees and will strive to ensure employees are recognized and appreciated and we have an employee friendly workplace.  We also ensure employees are being right set of challenges and targets to help our business succeed.</p>
        <strong>Business</strong>
        <p>Staybazar believes in conducting business in professional and ethical manner. We understand our responsibilities and will ensure right standards and practices are being used when working with our suppliers and partners.</p>
    </section>
</div>
