@{
    ViewBag.Title = "Special Requirements";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Special Requirements</span></a>  </div> </div>";

}
<div class="container bdy_min_height">
    <div class="row">
        <div class="col-md-12">
            <div class="margin10px">
                <h1 class="redtext">Special Requirements</h1>
                <p>Staybazar provides features on web site to address most accommodation requirements of various natures and durations for corporate/regular travelers and you are welcome to use these.  However if you have any specific leasing or accommodation requirements  for your business  or personal needs  which fall outside the functionality offered, please contact us at  <a href="mailto:@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))">@(BLayer.Settings.GetValue(CLayer.Settings.QUERY_MAILID))</a>   and we will be glad to assist you.</p>
            </div>
        </div>
    </div>
</div>
