@{
    ViewBag.Title = "Terms of Use";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Terms of Use</span></a>  </div> </div>";

}

<div class="landing-img-faq">
    <div class="landing-heading">
        <div class="container">
            <div class="row">

                <!-- <div class="col-6">
                </div> -->
            </div>
        </div>
    </div>
</div>
<!--Landing Starts Here -->
<div class="terms-section">
    <div class="title-heading  text-center">
        <h3>Terms Of Use</h3>
    </div>
    <div>
        <P class="para-priv-pol text-justify">
            These terms and conditions, as may be amended from time to time, apply to all our services directly or indirectly (through distributors) made available online, through their platforms, through any mobile / android device, by email or by telephone or through any electronic medium. By accessing, browsing and using our website or any of our applications through whatever platform (hereafter collectively referred to as the "website") and/or by completing a reservation, you acknowledge and agree to have read, understood and agreed to the terms and conditions set out herein below (including the privacy statement).
        </P>

        <P class="para2-priv-pol text-justify">
            These pages, the content and infrastructure of these pages, and the online accommodation reservation service provided on these pages and through the website (the "service") are owned, operated and provided by staybazar.com ("staybazar.com", elsewhere mentioned as "us", "we" or "our") and are provided for your personal, non-commercial use only, subject to the terms and conditions set out herein below.
        </P>
    </div>
    <br />
    <br />
    <div class="parent-div">
        <section id="terms" class="faq">







            <div id="accordion" class="myaccordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Scope Of Service</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Through the website, we (Staybazar.com, Southern E-commerce Solutions Pvt Ltd, its affiliates and partners) provide an online platform through which all types of short and long duration temporary accommodations (Business Hotels, serviced apartments, homestays, theme stays, resorts, etc., collectively referred as the "accommodation(s)"), can enlist their accommodations for reservation, and through which visitors to the website can make such booking / reservations. By making a reservation through staybazar.com, you enter into a direct (legally binding) contractual relationship with the accommodation provider at which you book. From the point at which you make your reservation, we act solely as an intermediary between you and the facility provider, transmitting the details of your reservation to the relevant accommodation provider and sending you a confirmation email for and on behalf of the accommodation provider.
                            </p>

                            <p>
                                When rendering our services, the information that we disclose is based on the information provided to us by accommodation providers. As such, the accommodation providers who are directly listed with us, excluding those connected through online aggregators / distributors / GDS, given access to our platform at the backend through which they are fully responsible for updating all rates, availability and other information which is displayed on our website. Although we shall use reasonable skill and care in performing/ discharging  our services, we are not bound to cross verify the contents provided by the suppliers / service providers / online aggregators / distributors, and cannot guarantee that, all information are in conformity to the reality, accurate,complete or correct, nor can we be held responsible for any errors (including manifest and typographical errors), any interruptions (whether due to any (temporary and/or partial) breakdown, repair, upgrade or maintenance of our website or otherwise), inaccurate, misleading or untrue information or non-delivery of information. Each accommodation provider remains responsible at all times for the accuracy, completeness and correctness of the (descriptive) information (including the rates and availability) displayed on our website. Our website does not constitute and should not be regarded as a recommendation or endorsement of the quality, service level, qualification or (star) rating of any accommodations made available.Our services are made available for personal and non-commercial use only. Therefore, you are not allowed to re-sell, deep-link, use, copy, monitor (e.g. spider, scrape), display, download or reproduce any content or information, software, products or services available on our website for any commercial or competitive activity or purpose, unless you have been allowed to do so by us in writing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Best Price Assurance</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>The prices on our site are competitive in consideration to the scope and features we are offering to the customers. All prices on the staybazar.com website are per accommodation for your stay and the final displayed price is including all taxes, wherever so mentioned.</p>

                            <p>Sometimes cheaper rates are available on our website for a specific stay at a property, however, these rates made by accommodations providers which may carry special restrictions and specific conditions, including provision for cancellation, refund etc;. Please check the facility, date and rate details thoroughly for any such specific conditions prior to making your reservation and payment. Obviously, errors and mistakes (including misprints) are not construed as binding. All such special offers, promotions and conditions are to be taken care on personal attention.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Free Of Charge</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <p>Our platform service is free of charge currently as a promotional offer as of now. However, Staybazar.com reserves its rights to decide and charge any suitable service charges / fee for the usage of the platform at any time it feels fit for implementation. Once the usage charges is fixed for the platform service, every customer using the platform thereafter is bound to pay such fee / charges for availing the services. Staybazar reserves its right to disallow / remove any user registered with Staybazar on reason of non-payment of services charges / fee or on any other reasons, and thereafter no user shall have any enforceable / re-claimable right of services which were earlier availed from Staybazar.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">
                                    Reservation
                                </span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                To complete the booking process, you may be prompted to pay the cost of accommodation. You can choose the mode of payment at your wish. Accordingly the amount shall be collected, and the booking confirmation shall be released. In case of corporate booking, payment will have to be released in line with the payment term agreed and signed between Staybazar and the relevant corporate. There could be certain cases/offers which would not have the option of refund in case of cancellation. Please check the room/offer details thoroughly for any such conditions prior to making your payment and reservation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfive">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Cancellation</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                        <div class="card-body">
                            <p>By making a reservation with a hotel / accommodation provider through our platform, you accept and agree to the relevant modification / cancellation and no-show policy of that hotel / accommodation provider, and to any additional terms and conditions of the accommodation provider that may apply to your reservation or during your stay, including charges for services rendered by the accommodation provider. The general cancellation policy of each accommodation provider is made available on our website on the accommodation information pages, during the reservation procedure. Please note that in certain cases the rates or special offers provided are not eligible for cancellation or change or refund. Please check the accommodation details thoroughly for any such conditions prior to making your reservation. Please note that no reservation is complete on our website without full payment. All booking on Staybazar.com are subject to modification / cancellation / no-show policy of respective hotel / accommodation providers.</p>

                            <p>If you wish to review, adjust or cancel your reservation, please get in touch with your Staybazar Account Manager or revert to the confirmation email and follow the instructions therein. Please note that you may be charged for your cancellation in accordance with the accommodation provider's cancellation (pre) payment and no-show policy or not be entitled to any repayment of any amount paid. We recommend that you read the cancellation policy of the accommodation provider carefully prior to making your reservation. In case of cancellation leading to refund, only those money received in our bank account from respective hotel / accommodation service providers against which services not availed, less applicable two-way payment gateway charges, would be refunded.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingsix">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Disclaimer</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <div class="card-body">
                            <p>Subject to the limitations set out in these terms and conditions and to the extent permitted by law, we shall only be liable for direct damages actually suffered, paid or incurred by you due to an attributable shortfall of our obligations in respect to our services, up to an aggregate amount of the cost of your reservation (under dispute / claim), as set out in the confirmation email (whether for one event or series of connected events).</p>

                            <p>However and to the extent permitted by law, neither we nor any of our officers, directors, employees, representatives, subsidiaries, affiliated companies, distributors,affiliates, partners, licensees, agents or others involved in creating, sponsoring, promoting, or otherwise making available the website and its contents shall be liable for (i) any punitive, special, indirect or consequential loss or damages, any loss of production, loss of profit, loss of revenue, loss of contract, loss of or damage to goodwill or reputation, loss of claim, (ii) any inaccuracy relating to the (descriptive) information (including rates, availability and ratings) of the accommodation as made available on our website, (iii) the services rendered or the products offered by the accommodation provider, (iv) any (direct, indirect, consequential or punitive) damages, losses or costs suffered, incurred or paid by you, pursuant to, arising out of or in connection with the use, inability to use or delay of our website, or (v) for any (personal) injury, death, property damage, or other (direct, indirect, special, consequential or punitive) damages, losses or costs suffered, incurred or paid by you, whether due to (legal) acts, errors, breaches, (gross) negligence, wilful misconduct, omissions, non-performance, misrepresentations, tort or strict liability by or (wholly or partly) attributable to the accommodation (its employees, directors, officers, agents, representatives or affiliated companies), including any (partial) cancellation, overbooking, strike, force majeure or any other event beyond our control.</p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingseven">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq"> Intellectual Property Rights</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                        <div class="card-body">
                            <p>Unless stated otherwise, the software required for our services or available on or used by our website and the intellectual property rights (including the copyrights) of the contents and information of and material on our website are owned by staybazar.com and its owner Southern E- Commerce Solutions Pvt Ltd.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingeight">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Miscellanious</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
                        <div class="card-body">
                            <p>To the extent permitted by law, these terms and conditions and the provision of our services shall be governed by and construed in accordance with Indian law and any dispute arising out of these general terms and conditions and our services shall exclusively be submitted to the competent courts in Bengaluru, India.</p>

                            <p>If any provision of these terms and conditions is or becomes invalid, unenforceable or non-binding, you shall remain bound by all other provisions hereof. In such event, such invalid provision shall nonetheless be enforced to the fullest extent permitted by applicable law, and you will at least agree to accept a similar effect as the invalid, unenforceable or non-binding provision, given the contents and purpose of these terms and conditions.</p>

                            <p>The primary guest must be at least 18 years old to be able to check into the Hotel/Serviced Apartment/ Guest House/Resort/ Homestay/etc.</p>

                            <p>In normal case of booking and if specifically not mentioned, the Check-in time is 12 noon and check-out time is 11AM. Any requirement of early check-in or late check-out is subject to availability and the accommodation provider might charge you extra for it. Please note that the check-in time is subject to change as per accommodation provider’s policy.</p>

                            <p>Your stay does not include additional personal expenses like telephone charges, meals that aren't part of your meal plan included in the booking, any specific / additional services at the accommodation you may use (like laundry and room service) or tips. The accommodation provider will charge you directly for these extras when you're checking out and you are liable to clear / settle it directly at the property before the check out.</p>

                            <p>It is mandatory for guests to present valid photo identification at the time of check-in. According to government regulations, a valid Photo ID has to be carried by every person above the age of 18 staying at the accommodation. The identification proofs accepted are Driver’s License, Voters Card, and Passport. Without valid ID the guest will not be allowed to check in. it is also worth to note that few accommodation providers will not accept PAN Cards as a valid ID proof. </p>

                            <p>The accommodation provider reserves the right of admission. Accommodation may be denied to guests on any doubtful situation at the time of check in by the officials of the accommodation provider and if suitable proof of identification is not presented at check-in. Staybazar shall not be responsible for any check-in denied by the accommodation provider due to the aforesaid reason.</p>

                            <p>Accommodation provider is at liberty to charge any meal surcharge on festive periods e.g. Christmas, New Year's Eve etc. All additional charges (including mandatory meal surcharges) need to be cleared directly at the Accommodation.</p>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingnine">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Cancellation Policy</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordion">
                        <div class="card-body">
                            <p>Cancellation policies of respective accommodation providers would be applicable to every individual booking you are making through the platform. The policy will be available to you on the booking page once you select a property for reservation. You can also re-visit your booking page in your account on our website to see the cancellation policy. A copy of cancellation policy of your booked hotel can be accessed at respective hotel’s website or can be obtained via e-mail from Staybazar’s customer support desk by sending a request at support@staybazar.com</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingten">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">Modification & Refunds</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordion">
                        <div class="card-body">
                            <p>You can make modifications to online bookings once they're made by contacting our customer support desk. Please login to our website for customer service contact numbers. Alternately you can send an e-mail to support@staybazar.com with your booking confirmation number in case if you need to modify/cancel your booking through our back end support.</p>

                            <p>It is not advised to call the accommodation provider directly for reservation changes or cancellations. The accommodation provider or their agents can't make changes to or process & refunds for our specially negotiated rates. We take at least 7 to 10 working days to process refunds for bookings cancelled online. Your bank may debit its own separate charges from refunds made to your credit card or bank account. All refunds are subject to refund of the same by respective accommodation providers.</p>
                        </div>
                    </div>
                </div>
            </div>



        </section>
    </div>










</div>
