@{
    ViewBag.Title = "Mission And Vision";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>Terms of Use</span></a>  </div> </div>";

}

<!--Landing Starts Here -->
<div class="parent-div">

    <section class="landing-img-form-vision">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="vision-heading">OUR PURPOSE VISION AND VALUES</h2>


                </div>

            </div>
        </div>
    </section>


</div>

<div class="container">
    <div id="vision" class="vision">
        <div class="row">
            <div class="col-md-6">
                <div class="title-heading  text-center">
                    <div class="img-vision2">
                        <img style="width: 100px;" src="/img/mission-icon.png" alt="">
                    </div>
                    <h3 class="title-heading2">OUR PURPOSE</h3>
                </div>
                <div class="vision-para1">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="img-vision1">
                        <img style="width: 100px;" src="/img/vission-icon.png" alt="">
                    </div>
                    <h3 class="title-heading1">OUR VISION</h3>
                </div>
                <div class="vision-para2">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid">
    <h2 class="vision2-heading mb-5">OUR STANDARDS AND VALUES</h2>

    <div class="row">
        <div class="col-md-6 bg1-vision">
            <h4 class="vision-color">Employees</h4>
            <p class="vision-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="col-md-6 bg2-vision">
            <h4 class="vision-color">Business</h4>
            <p class="vision-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
</div>
