/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */
thead {
    background-color: #01b7f2 !important;
    color: white;
}

.table1 {
    border-width: thin;
    border-style: solid;
    border-color: dimgray;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

