@{
    ViewBag.Title = "Join Requests";
}

<h2>@ViewBag.Title</h2>
    <div class="jumbotron">
        <p><a href="/Admin/JoinRequests/Corporate" class="lnk">0</a> unread corporate requests</p>
        <p><a href="/Admin/JoinRequests/TravelAgent" class="lnk">0</a> unread travel agent requests</p>
        <p><a href="/Admin/JoinRequests/Supplier" class="lnk">0</a> unread supplier/owner requests</p>
    </div>


