@{
    Layout = null;
    string image = BLayer.Settings.GetValue(CLayer.Settings.SIGNATURE_IMAGE);
}
<table id="thirdrow" style="width:100%">
    <tr>
        <td>
         
            <table style="width:100%">
                
                <tr><td style="text-align:right;"><img src="~/@image" /></td></tr>
                @*<tr><td style="text-align:right;">(Authorised Signatory)</td></tr>*@
            </table>
        </td>
    </tr>
</table>
