@{
    StayBazar.Models.LoginViewModel lv = new StayBazar.Models.LoginViewModel();
    StayBazar.Models.GuestModel gm = new StayBazar.Models.GuestModel();
}
<div class="container bdy_min_height">
    <div class="row">
        <div class="col-md-5 col-md-offset-1 lgnbx1">
            <h4>Login and continue</h4>
            @Html.Partial("~/Views/Continue/_Login.cshtml",lv)
        </div>
        <div class="col-md-5 lgnbx2">
            <h4>Continue as Guest</h4>
            @Html.Partial("~/Views/Continue/_Guest.cshtml", gm)
        </div>
    </div>
</div>
<script>
    $(function () {
        @if(ViewBag.GuestError)
        {
            <text>$("#Email").focus();</text>
        }
        else
        { <text>$("#UserName").focus();</text> }
    });
</script>

    