@{

}
<div class="container he">
    <div class="row">
        <div class="col-md-6 col-lg-offset-2">
            <div class=" margin10px " style="width:650px;">
                <div class="row">
                    <div class="col-md-1">
                        <span class="fa fa-check-circle greentext" style="font-size:37px;"></span>
                    </div>
                    <div class="col-md-11">
                        <h4>Thank you for your query. We will contact with you in shortest possible time.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <h4 class="margin-top-30 bold">Team Staybazar</h4>
                        <h5>1800-425-2393</h5>
                        <h5>+91-80-2572-2898/4091-6686</h5>
                        <h5>info@staybazar.com</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                        <h5 class="bold">Staybazar.com</h5>
                        <h5>Serviced Apartments&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Guest Houses&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Home Stays&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Hotels&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Resorts&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

