@model int
@{

}
<div class="container bdy_min_height">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-4 col-md-offset-2" >
            @switch(Model)
            {
                case 0:
                    <text><div class="alert alert-success">The data has been imported successfully!</div></text>
                    break;
                case 1:
                    <text><div class="alert alert-danger">There has been an issue, could not import the data!</div></text>
                    break;
                case 2:
                    <text><div class="alert alert-danger">There has been an issue, could not import the data!</div></text>
                    break;
                case 3:
                    <text><div class="alert alert-danger">There has been an issue, could not import the data!</div></text>
                    break;
            }
        </div>
    </div>
</div>