@{
    ViewBag.Title = "Posted";
}
<div class="container bdy_min_height">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 topmargin12"><div class="alert alert-info">Thank you for contacting Staybazar. We will get back to you shortly</div></div>
    </div>
</div>

