@{
    ViewBag.Title = "TRAVELLER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img-career1">
        <div class="landing-heading-inside-page text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>ADMIN DESK</h2>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="underline-points text-left">
                            <ul>                                
                                <li>Robust technology platform</li>
                                <li>Option for employee self-booking and also for travel desk / assisted booking</li>
                                <li>Upload multiple employee data into the system at a single click</li>
                                <li>Set multi-level approval authority for each employee</li>
                                <li>Ensure approval of authorized authority for each trip in advance, before travel can happen</li>
                                <li>Impose adherence to spending on lodging expense by each employee for each booking, strictly within the daily entitlement fixed under HR policy</li>                                
                            </ul>                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>














</div>

