@{
    ViewBag.Title = "TRAVELLER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img-career1">
        <div class="landing-heading-inside-page text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>FINANCE / ACCOUNTS</h2>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="underline-points text-left">
                            <ul>
                                <li>Download GST invoice directly from the platform</li>
                                <li>Tamper proof system, provision for multi-level approvals before travel can take place</li>
                                <li>Eliminate time consuming manual approval process</li>
                                <li>Multiple payment options – debit wallet, credit card, debit card, internet banking, pay at EOD, etc</li>
                                <li>Assured GST Invoice and GST compliance</li>
                                <li>Download various reports and reconciliations</li>
                                <li>Error free travel approval, payment processing and billing</li>
                                <li>Direct payment settlement with Staybazar, instead of employee spending at hotels and subsequent reimbursement</li>
                                <li>Option for Cost Centre tagging and allocation of travel expense</li>
                                <li>Travel & Spending statistics for every employee and department</li>
                                <li>Advantage of Single Vendor for booking different hotels across geographies – no need to create thousands of hotel vendors in the system</li>
                            </ul>                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>














</div>

