@{
    ViewBag.Title = "TRAVELLER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img-career1">
        <div class="landing-heading-inside-page text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>ORGANISATION</h2>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="underline-points text-left">
                            <ul>
                                <li>Increased efficiency</li>	
                                <li>Complete control on travel spending</li>	
                                <li>System driven adherence to organization’s travel policy</li>	
                                <li>Elimination of manual efforts and consequent resource saving</li>	
                                <li>Platform extendable to IT Infrastructure of corporate customers</li>	
                                <li>Accommodation booking and corporate conference under one roof</li>	
                                <li>Various MIS reports for ultimate control</li>	
                                <li>24 X 7 Guest support</li>	
                                <li>Dedicated account manager for every corporate</li>	
                                <li>Provision for redeemable reward points / incentive to employees against savings to the organization</li>	

                            </ul>                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>














</div>

