@{
    ViewBag.Title = "TRAVELLER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img-career1">
        <div class="landing-heading-inside-page text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>TRAVELLER</h2>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="underline-points text-left">
                            <ul>
                                <li>Easy to use platform</li>
                                <li>Self-booking option, in compliance with Organization’s HR Policy</li>
                                <li>Personal login id and password</li>
                                <li>On booking and pre-booking approval facility within the platform</li>
                                <li>Service of assisted booker</li>
                                <li>Provision for reminder setting for upcoming travel</li>
                                <li>Platform linked to Outlook calendar for efficient and advance planning of reservation</li>
                                <li>Large number of accommodation options under one roof</li>
                                <li>Curated alternate accommodation options</li>
                                <li>Loyalty Programs</li>
                                <li>Tag preferred property for any location and easily access it during subsequent travels</li>
                                <li>Option to give feedback to property and to your own admin team</li>
                                <li>Review other travelers feedback before booking</li>
                                <li>24 X 7 support system</li>
                                <li>Download confirmation voucher from the system</li>
                                <li>Extension / cancellation of booking at a click away</li>                                
                            </ul>                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>














</div>

