@{
    ViewBag.Title = "TRAVELLER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parent-div">
    <!--Landing Starts Here -->
    <div class="landing-img-career1">
        <div class="landing-heading-inside-page text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>TRAVEL DESK</h2>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-12">
                        <div class="underline-points text-left">
                            <ul>
                                <li>
                                    Self-booking option to employees would take away substantial load off Travel Desk
                                </li>
                                <li>
                                    Availability of Assisted Booking option so that Travel Desk can assist any employee with booking, if required
                                </li>
                                <li>
                                    Cancellation Policies best negotiated in favor of corporates
                                </li>
                                <li>
                                    24 X 7 Guest Support, Chat support, query/feedback page, toll free number, etc, to effective handling of customer queries / escalations.
                                </li>
                                <li>
                                    Vide range of Stay options in various price bands, across geographies
                                </li>
                                <li>	Alternate accommodations pre-curated to meet stringent quality norms</li>

                            </ul>                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>














</div>

