@{
    ViewBag.Title = "FAQs";
    ViewBag.BreadCrumb = " <p style='margin-top: -29px; margin-left: 38px;'> > </p> <div id='breads' style='margin-top: -30px; margin-left: 50px;'> <div itemscope itemtype='http://data-vocabulary.org/Breadcrumb'> <a href=''  itemprop='url'  class=' whitetext breadhvr' > <span class=' whitetext breadhvr'  itemprop='title'>FAQs</span></a>  </div> </div>";

}
@*<div class="container">
        <div class="row bdy_min_height">
            <div class="col-md-12">
                <h3 class="redtext">Staybazar – Frequently Asked Questions (FAQs)</h3>
                <h4>Index</h4>
                <ul>

                    <li><a href="#accommodation">Accommodation</a></li>
                    <li><a href="#costandpayment">Cost and Payment</a></li>
                    <li><a href="#cancel/change">Cancellation/Modify bookings</a></li>
                    <li><a href="#corporatetravel">Corporate Travel</a></li>
                </ul>
                <div class="row" id="accommodation">
                    <div class="col-md-12">
                        <h4>Accommodation</h4>
                            <p class="darktxtc">1. What accommodation or stay options does Staybazar have?</p>
                            <p>
                                Staybazar has service apartments, homestays, theme stays and resorts. The accommodations are usually in form of an apartment, studio, villa, suite, cottage or room.
                            </p>
                            <p class="darktxtc">2. What are service apartments?</p>
                            <p>Serviced apartments are residential apartments that are rented out on nightly or short durations.  They are full furnished and may typically come with pantry, kitchen or kitchenette. Key aspect is that they are fully serviced including room services, security, housekeeping and food facilities.</p>
                            <p class="darktxtc">3. Once I make a booking, how do I check-in into service apartment?</p>
                            <p>Once you make a booking, you need to check into apartment. Most apartments will have a front desk or a housekeeping person who will help you in checking in, will provide you the keys and facilitate you getting into room and providing necessary things. Standard check-in time is 2 PM, though some apartments may allow early check-ins. Please note the address and phone number of service apartment once you make booking, so that you can contact and coordinate as needed.</p>
                            <p class="darktxtc"> 4. How do I checkout of service apartment?</p>
                            <p>Most service apartments have 11 AM morning as checkout time. You can checkout using the front desk or housekeeping person at service apartment. Please note you would have already made payment to Staybazar.com for accommodation charges, any extra charges at site like food or drinks may need to be paid to service apartment directly.</p>
                            <p class="darktxtc">5. What can I expect in service apartment?</p>
                            <p>Service apartments come in different types. Typically you will have a sitting area, desk/table, bed, bathroom and a kitchenette/kitchen.You will be provided bed sheets, blankets, linen and towels. If you have kitchen area, you can expect sets of crockery, utensils, fridge and cooking stove.</p>
                            <div class="height10"></div>
                    </div>
                </div>
                <div class="row" id="costandpayment">
                    <div class="col-md-12">
                        <h4>Cost and Payment</h4>
                            <p class="darktxtc">1. How are booking charges normally taken?</p>
                            <p>
                                All booking charges for your accommodation will be already submitted and paid by you to Staybazar.com and will have to paid online through credit cards, Netbanking, debit cards or cash cards. You will not be required to pay any accommodation related charge at the property itself.
                            </p>
                            <p class="darktxtc">2. How are charges other than reservation charges handled?</p>
                            <p>Once you have checked in you may incur additional charges which are usually for food items, or drinks. Please pay the service apartment or alternate stay directly when you are checking out. This can be paid as cash, credit card or debit card. Please note if breakfast or dinner is part of accommodation package you will not need to pay for it.</p>
                            <div class="height10"></div>
                    </div>
                </div>
                <div class="row" id="cancel/change">
                    <div class="col-md-12">
                        <h4>Cancellation/Modify bookings</h4>
                            <p class="darktxtc">1. If I need to cancel by booking, how do I do this?</p>
                            <p>If you need to cancel your booking please login to your account using “Login My Account”, then go to your booking record using “My Stays”. When you open booking record you can see option to cancel. </p>
                            <p class="darktxtc">2. If I need to make changes to my booking, how do I do this?</p>
                            <p>Staybazar.com supports date changes to your booking as required.</p>
                            <p>If you need to make changes to your booking please login to your account using “Login My Account”, then go to your booking record using “My Stays”. When you open booking record you can see option to “Modify” which should be used to make date changes to your booking as needed.</p>
                            <div class="height10"></div>
                    </div>
                </div>
                <div class="row" id="corporatetravel">
                    <div class="col-md-12">
                        <h4>Corporate Travel</h4>
                            <p class="darktxtc">1. How do I sign up as corporate customer?</p>
                            <p>If you are a corporate or business who needs to make bookings for travel for your employees or yourself, please register with us using “corporate – Register” and create corporate account.  Clicking this link will open “Start corporate Account” form which needs to be filled and submitted.</p>
                            <p>Staybazar office will review, and once approved you will receive email with details to login and access your account.</p>
                            <p class="darktxtc">2. How I do corporate travel booking?</p>
                            <p>You can choose “Staybazar for business” on our homepage and select “Login My Account”. Under this please select “Corporate” and enter login email id and password to login.</p>
                            <p>Once logged in you can search for accommodations, select the accommodation option and make the booking.  Payment can be done through credit card, net banking, debit card or cash card.</p>
                            <div class="height10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="landing-img-faq">
    <div class="landing-heading">
        <div class="container">
            <div class="row">

                <!-- <div class="col-6">
                </div> -->
            </div>
        </div>
    </div>
</div>
<!--Landing Starts Here -->
<div class="faq-section">
    <div class="title-heading  text-center">
        <h3> YOUR QUESTIONS ARE ANSWERED HERE</h3>
    </div>
    <section id="faq" class="faq pt-5">
        <h1 class="faq-heading1">CORPORATE</h1>
        <div id="accordion" class="myaccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-minus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq">1. We are a corporate and wants to sign up with Staybazar. How do we do it?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            Please contact us using any one of below mode:<br />
                            <ul>
                                <li>
                                    1) Please click the link “send us a message” at the bottom of our website, fill the minimal data as requested and click submit.
                                </li>
                                <li class="text-justify">
                                    2) Click the “Request a Demo” button on top right corner of Staybazar website, fill the demo request form and submit
                                    In both above cases, we will contact you within 24 working hours after receiving the request.
                                    You can alternately call us at our toll free number 1800-425-2393 or e-mail us at support@staybazar.com.
                                </li>
                            </ul>


                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq">2. What are the Services Staybazar provides?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Staybazar currently provide booking of short and long duration accommodation and conferences. Hotel booking can be done to any destination in the world. Corporate conference and events can be arranged at any location in India or abroad.
                            <br />
                            <br />
                            Flight booking services would be added very soon.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq">3. How many properties are available on the platform?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Currently we are connected close to 50000 properties across India covering all major cities and towns and 800000 plus properties globally. Besides we have 4000 plus curated alternate accommodation.
                            <br />
                            <br />
                            The range of properties include hotels, serviced apartments, guest houses, home stays, resorts, bed and breakfast, etc. We keep adding more and more properties on continuous basis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingfour">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq">4. What value add Staybazar can bring to my organization?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify"> Staybazar is a technology platform facilitating booking of business travel accommodation. The entire accommodation booking process has been simplified on the platform and it comes with loads of features, making the business travel booking process easy and effective. It eliminates all the manual process involved with booking, and helps organizations to have error free travel booking. The platform helps organizations to achieve efficiency, reduce manpower resources in travel desk/department, expense tracking and analysis, reduce travel cost with proper GST input credit, etc. Staybazar make available service of travel experts to customers at no extra cost, dedicated account manager and 24X7 guest support.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingfive">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 5. My organization needs to conduct a conference. What should I do?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Staybazar conducts conference from size of 5-10 people to 1000 plus participant. Program contents are designed with full participation of customer, and focus is given to achieve objective of the program, be it your Review Meetings, Employee Conference, Sales Conference, Annual get together, Family Day, Founders day, Product Launch, Award Nights, Day outing, Annual Conferences – Residential or day or evening conference.  It can be from a simple meeting with venue and food to gathering with stage, lights, sound, artist performances, etc. Conference venue can be in India or abroad, depending on its objective, client’s requirement and budget.
                            <br />
                            <br />
                            Please contact your account manager at Staybazar with your requirement, for setting up a detailed meeting with relevant department/team/stakeholder so that we can submit a quote. In case if you are not a registered customer of Staybazar, you may reach out to us by filling the ‘Send us a Message’ Form in the home page or write to us at support@staybazar.com.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingsix">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 6. How does deployment of Staybazar’s tech platform help my employees?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Travel itinerary planning is at the finger tip of employees.</li>
                            <li>Employee can plan their travel themselves, thereby giving them convenience & predictability.</li>
                            <li>Since the System works on the Organization’s payment term, employee need not have to spend from his pocket and then wait till he gets reimbursement.</li>
                            <li>Since all required approvals are taken through the system ahead of travel, it saves time and effort comparing to manual approval mode</li>
                            <li>
                                Since the system take care of correctness of GST billing, employee is free from the worry of having to ensure each hotel he stays issues correct invoice and getting fired by finance team later in case of any missing information on hotel invoice
                                Earn reward points
                            </li>
                            <li>
                                Earn reward points
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 7. Shall we get GST compliant invoice while booking with you?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Yes. Staybazar has local billing facility from most major states in India, which are frequently used by Business Travelers. This helps us to pass GST credit from these states to the corporates, provided they have GST registration in those states.
                            <br />
                            <br />
                            Staybazar assures GST invoice to customers on 100% of their bookings. If a corporate has GST registration in multiple states, and if the data has been provided to us before billing, invoice can accordingly be issued depending on the State of stay.
                            <br />
                            <br />
                            Advantage for corporate is that with single vendor, customer can avail services of thousands of hotels, thereby eliminating vendor creation requirement for all those properties. Further, when you directly work with thousands of hotels, ensuring GST compliance by each of them (getting correct GST invoice, ensuring the GST amount is remitted to government authorities and tax returns filed, ensuring the GST credit reflect in your GSTR-2A, etc) would be a tough task. When you book on Staybazar, your invoices are issued by Staybazar and GST compliance done by us.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading8">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 8. What are the features available on Staybazar platform?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Robust technology platform</li>
                            <li>Self-booking option</li>
                            <li>Assisted booking option</li>
                            <li>Cost Centre Tagging & Tracking</li>
                            <li>Adaption of Corporate HR Policy in terms of employee travel entitlement</li>
                            <li>Various MIS Reports</li>
                            <li>Voucher & Invoice downloading</li>
                            <li>Tracking and reconciliation of Wallet</li>
                            <li>Multiple payment options</li>
                            <li>Large range of properties in terms of Geographies & Price Range in single platform</li>
                            <li>Provision to configure multi-level approvals</li>
                            <li>Advance & on the booking approval</li>
                            <li>Upload thousands of employee data at one click, using excel template</li>
                            <li>Travel spending statement of each employee and its comparison with entitlement</li>
                            <li>Booking restricted within daily entitlement</li>
                            <li>Employee reward program</li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq">9. We have different cost centers. Can we track cost center-wise travel expense? </span>

                        </button>
                    </h2>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Yes. You can create any number of Cost Centers, tag each booking to the concerned Cost Centre and draw report on Cost Center-wise travel spending. Provision for multi cost center tagging in single booking with proportionate allocation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading10">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 10. What are the benefits available to Corporate when booking done on Staybazar.com</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Vast variety of options in terms of property range, price and geography to choose from</li>
                            <li>Assured GST invoice and tax compliance</li>
                            <li>Complete control on travel spending</li>
                            <li>Identify and reward cost savers, which will motivate them for further saving for the Company</li>
                            <li>Cost Center-wise tracking of expenses</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading11">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 11. We have multi locational units. Can we have a single implementation which can be used across organization?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Staybazar.com is a cloud based application which can be accessed from anywhere. In case of organization who have multi location facilities, the system can be implemented centrally and can be used by all employees of various locations. We can tag respective units as cost centers and the Organization’s HR policies in respect of all the employees can be adapted into the system.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading12">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 12. We have an internal travel management system in our organization. Can we have inventory from Staybazar platform into our internal system for booking?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Yes, you can connect your internal system with Staybazar.com through API and pick up inventories of your choice.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading13">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 13. What extent of customization possible on Staybazar platform?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>The platform can be extended to IT Infrastructure of corporates</li>
                            <li>Corporates can opt for self-booking by travelers or Assisted booking by travel desk based on their internal policy</li>
                            <li>Self-booking feature can be allowed to any number of employees</li>
                            <li>The platform is capable of configuring any number of approval levels</li>
                            <li>In case of large master data, same can be uploaded into the system using excel template, at a single click</li>
                            <li>Daily Lodging entitlement – option to configure employee group, city group and entitlement for each employee group under each city group</li>
                            <li>Any number of cost center can be created and tagged to each individual booking</li>
                            <li>Option to allocate specific percentage of expense to different cost centers against single booking</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading14">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 14. How our HR/Admin policies with regard to travel entitlements are taken care?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Staybazar’s technology platform has provision to configure various HR / Admin policies of corporate, which are then validated while an employee does his/her booking.  Policies in regard to various categorization of employees, daily lodging entitlement for each category / band of employees for each City / Group of Cities can also be configured. Similarly different levels of approvals can be configured, thereby adapting all the corporate policies in regard to travel into the system.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading15">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 15. Do you have provision to handle approval requests of employees before booking can happen?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Yes. There are provision to set multiple levels of approvals for each employee before a booking can take place. There are two types of approvals – 1) On the booking approval & 2) Pre-approval. System can be configured to allow booking for each employee only after all the tagged approvers consents are received.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading16">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 16. What is preferred property tagging?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            If an employee has already identified/used a particular property at a particular city/location which he/she is comfortable with and intend to use for future travel as well, the employee can tag such property for such location in the system so that in all his/her future searches for that city/location, the tagged property is displayed on top. This will eliminate the time required to run through numerous options and identifying a suitable one every time. This is a onetime master entry, which will be used by the system for every future search.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading17">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 17. What all the major reports one can get from the system?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
                    <div class="card-body">
                        <p>Below are few of the reports Corporate can view and download (in excel) from Staybazar platform:</p>
                        <ul>
                            <li>Booking Voucher </li>
                            <li>Tax invoice</li>
                            <li>Invoice Statement</li>
                            <li>Employee-wise, Department-wise, Unit-wise travel spending pattern</li>
                            <li>Wallet transaction details (booking and payments) with reconciliation</li>
                            <li>Cost Centre Reports</li>
                            <li>Employee-wise cost saving</li>
                        </ul>
                        <p>Various reports are available to the relevant login ids based on rights set by the master login.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading18">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 18. What is employee reward program?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Staybazar’s reward program will be operational from financial year 2020-21, which will reward each users based on their spending on Staybazar platform.
                            <br />
                            <br />
                            Staybazar also has a program which helps Corporate to identify cost savers to the Organization and appropriately reward them. Staybazar has options to run such reward program on behalf of corporates, for their employees.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading19">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 19. How do I give feedback on my experience at a property?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            On completion of each stay, every guest would be sent a simple feedback form by the system, to rate his/her experience at the property. Guest can use the given option to send a copy of feedback directly to the property if he/she so desires. Feedbacks from each guests are captured and tagged to respective property. Each time a traveler can view pervious reviews and accordingly decide. Staybazar takes guest feedback seriously and take up with concerned properties. In case of negative feedback, the property is given opportunity to improve and report back on action taken. Repeat negative feedback from multiple travelers could result in black listing of the property. A Property once black listed, will not be available for further booking on Staybazar.
                        </p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading20">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq text-justify"> 20. Can I do flight booking on Staybazar platform?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
                    <div class="card-body">
                        <p class="text-justify">
                            Flight booking will be available on this platform very soon.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faq1" class="faq">
        <h1 class="faq-heading1">SUPPLIER</h1>
        <div id="accordion2" class="myaccordion">
            <div class="card">
                <div class="card-header" id="headingSectionOne">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseSectionOne" aria-expanded="true" aria-controls="collapseSectionOne">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 1. Explain Staybazar’s business model?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSectionOne" class="collapse" aria-labelledby="headingSectionOne" data-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li>Staybazar.com is a technology platform for discovery and booking of various stay options.</li>
                            <li>We enlist properties on our platform and re-sell the same to our customers.</li>
                            <li class="text-justify">
                                Our robust technology platform is capable of understanding business travel dynamisms and have features for customizing the travel policies of corporates for their best control and cost advantage.
                                We offer a wide range of stay options to corporate customers and the offering ranges from Hotels, Serviced Apartments, Guest Houses, Resorts, Homestays, convention centers, etc.
                            </li>
                            <li class="text-justify">Corporate Admin can use his/her master login to create sub-logins for every employee, who can then search and book stay options of their choice (within the entitlement as per their travel policy – on its customization) for shorter to longer duration by logging on staybazar.com.</li>
                            <li>Corporates can also conduct their business conferences through Staybazar.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSectionTwo">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSectionTwo" aria-expanded="false" aria-controls="collapseSectionTwo">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 2. How will I enlist my property on Staybazar?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSectionTwo" class="collapse" aria-labelledby="headingSectionTwo" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">You can enlist your property in simple documentation. Please click on the “Property – Register” and fill up basic details asked for.  Alternately reach out to support@sytaybazar.com, or call on toll free number 1800-425-2393 during business hours. On receipt of your listing request, our team would guide you through the process.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection3s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection3s" aria-expanded="false" aria-controls="collapseSection3s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 3. What is the listing formality?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection3s" class="collapse" aria-labelledby="headingSection3s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">By signing off a simple document consisting of the details of inventories, prices and the facility/ features available at the property, we will do the enlistment and will start driving business to you. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection4s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection4s" aria-expanded="false" aria-controls="collapseSection4s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 4. What is the charges for enlisting the property ?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection4s" class="collapse" aria-labelledby="headingSection4s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">Enlistment is currently free of cost. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection5s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection5s" aria-expanded="false" aria-controls="collapseSection5s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 5. How will I manage my inventories?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection5s" class="collapse" aria-labelledby="headingSection5s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            If you have a channel manager who is managing the inventories for you, then you may have to give suitable instruction to share the inventories to staybazar.com.
                            <br />If you do not have a channel manager;
                            <br />
                            Staybazar has an inventory management solution which can be made available to you (currently free of cost) to do the inventory management. For demo and details please call us on out toll free number or mail to support@staybazar.com.
                            Alternately, you can use the supplier login on our platform and directly manage your inventory on that. In this case you have to ensure that the inventory on Staybazar platform is dynamically maintained to avoid over selling of room inventories.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection6s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection6s" aria-expanded="false" aria-controls="collapseSection6s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 6. Can we get access to your inventory management system?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection6s" class="collapse" aria-labelledby="headingSection6s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">Yes, you can have access to Staybazar’s inventory management system as a module, on specific request. Please contact support@staybazar.com or call on our toll free number.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection7s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection7s" aria-expanded="false" aria-controls="collapseSection7s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 7. Can I have a demo of your inventory management system?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection7s" class="collapse" aria-labelledby="headingSection7s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">Yes, you can have a demo on Staybazar’s inventory management system as a module, on specific request. Please contact support@staybazar.com or call on our toll free number.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection8s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseSection8s" aria-expanded="true" aria-controls="collapseSection8s">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 8. What are the benefits I get if I start using Staybazar inventory management system?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection8s" class="collapse" aria-labelledby="headingSection8s" data-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li class="text-justify">Staybazar’s inventory management system will help you to manage reservation, billing, and other basic property management functionality</li>
                            <li>Connect online to multiple channels including Staybazar platform</li>
                            <li>Higher visibility</li>
                            <li>Easy management of room rates</li>
                            <li class="text-justify">Reach out to our 300+ corporates through our Platform – no need to enter into specific sale agreement with each of those corporate</li>
                            <li>No need to negotiate with multiple corporates</li>
                            <li>No overselling</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection9s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection9s" aria-expanded="false" aria-controls="collapseSection9s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 9. How will I revise the prices?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection9s" class="collapse" aria-labelledby="headingSection9s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            As Price is fixed for a contracted period and Staybazar would have accordingly signed contract with various corporates, Price revision can be done on renewal of contacts only, based on mutual discussion and agreement.
                            Once the revised price is mutually agreed, permission will be given to you to revise the price on Staybazar platform. The price revised by you has to be vetted and approved by Staybazar for the revision to take effect on the Platform.
                            In case where the property is seeking rate increase and Staybazar is unable to agree to it, Property will have option to continue with the existing rate or delist from Staybazar on expiry of their existing contact period.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection10s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection10s" aria-expanded="false" aria-controls="collapseSection10s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 10. How will I add new property OR inventory?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection10s" class="collapse" aria-labelledby="headingSection10s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            You can add any number of property on to Staybazar platform through the login ID made available to you. Through this Login, you will be able to manage your inventory, price as well as every other aspect of your business through our module, subject to conditions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection11s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection11s" aria-expanded="false" aria-controls="collapseSection11s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 11. How will I remove inventory?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection11s" class="collapse" aria-labelledby="headingSection11s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            You can remove any inventory from Staybazar platform through the log in ID enabled to you, subject to conditions. Through this login you will be able to manage your property status on Staybazar platform.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection12s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection12s" aria-expanded="false" aria-controls="collapseSection12s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 12. How can I submit invoices against booking?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection12s" class="collapse" aria-labelledby="headingSection12s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            Invoice against each booking to be issued to Staybazar as per details provided, immediately on check-out of guest.  On issue of invoice, soft copy to be e-mailed to Staybazar at accounts.support@staybazar.com
                            and hard copy to be couriered to:<br />
                            Staybazar.com<br />
                            No. 993, 9th Main,<br />
                            Sector – 7, HSR Layout,<br />
                            Bangalore – 560 102.<br />
                            Phone:  080-2572 2898
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSection13s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection13s" aria-expanded="false" aria-controls="collapseSection13s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 13. How will I get payment against booking done on my property?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection13s" class="collapse" aria-labelledby="headingSection13s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            For every booking, the Payment will be released as per the terms & conditions mutually agreed between Staybazar and the Vendor. Payment will be made by way of online transfer to the given account as per the documentation signed off during the enlistment process. If payment is released after check-out, Staybazar should receive a correct tax invoice from Vendor before payment.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSection14s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection14s" aria-expanded="false" aria-controls="collapseSection14s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 14. How will I withdraw my enlistment?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection14s" class="collapse" aria-labelledby="headingSection14s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            If you wish to delist your property during a contractual period, you may write to us and we will organize to remove the property our listing database accordingly.<br />
                            Where a property decides to delist from Staybazar, they have to honor all bookings and contracts done by Staybazar with their clients on such property before such delisting.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSection15s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection15s" aria-expanded="false" aria-controls="collapseSection15s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 15. What are the Do’s and Don’ts if I enlist my property?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection15s" class="collapse" aria-labelledby="headingSection15s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            Do
                        </p>
                        <ul>
                            <li>Ensure best of service is given to Staybazar guests</li>
                            <li>Check-in and Check-out should be handled in a smooth and professional manner</li>
                            <li>In case of maintenance plan at the property, keep Staybazar informed of it in advance so that bookings are accordingly handled.</li>
                            <li>Guest complaints should be seriously taken and effectively addressed.</li>

                        </ul>
                        <p class="text-justify">
                            Do not 
                        </p>
                        <ul>
                            <li>Do not underquote room rate to Staybazar guests.</li>
                            <li>Do not extend stay of Staybazar booked guests without Staybazar’s consent.</li>
                            <li>Do not handover Staybazar’s invoice to customer / guest</li>
                            <li>Do not reveal Staybazar’s buy price to Guest / Customer</li>                           
                        </ul>


                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSection16s">
                    <h2 class="mb-0">
                        <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection16s" aria-expanded="false" aria-controls="collapseSection16s">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="colr-faq"> 16. Are you GST registered?</span>

                        </button>
                    </h2>
                </div>
                <div id="collapseSection16s" class="collapse" aria-labelledby="headingSection16s" data-parent="#accordion2">
                    <div class="card-body">
                        <p class="text-justify">
                            Yes, we are GST registered in all major Indian States where business travel takes place. We keep registering ourselves in newer states based on customer requirement and booking volume.
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </section>
    @*<section id="faq3" class="faq">


            <h1 class="faq-heading1">Cancellation / Modify bookings</h1>




            <div id="accordion3" class="myaccordion">
                <div class="card">
                    <div class="card-header" id="headingSection1One">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseSection1One" aria-expanded="true" aria-controls="collapseSection1One">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq">If I need to cancel by booking, how do I do this?</span>



                            </button>
                        </h2>
                    </div>
                    <div id="collapseSection1One" class="collapse" aria-labelledby="headingSection1One" data-parent="#accordion3">
                        <div class="card-body">
                            <p>If you need to cancel your booking please login to your account using “Login My Account”, then go to your booking record using “My Stays”. When you open booking record you can see option to cancel.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection2Two" aria-expanded="false" aria-controls="collapseSection2Two">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq"> If I need to make changes to my booking, how do I do this?</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseSection2Two" class="collapse" aria-labelledby="headingSection2Two" data-parent="#accordion3">
                        <div class="card-body">
                            <p>
                                Staybazar.com supports date changes to your booking as required.

                                If you need to make changes to your booking please login to your account using “Login My Account”, then go to your booking record using “My Stays”. When you open booking record you can see option to “Modify” which should be used to make date changes to your booking as needed.
                            </p>
                        </div>
                    </div>
                </div>


            </div>



        </section>
        <section id="faq4" class="faq">


            <h1 class="faq-heading1">Corporate Travel</h1>




            <div id="accordion4" class="myaccordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link" data-toggle="collapse" data-target="#collapseSection3One" aria-expanded="true" aria-controls="collapseSection3One">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq"> How do I sign up as corporate customer?</span>



                            </button>
                        </h2>
                    </div>
                    <div id="collapseSection3One" class="collapse" aria-labelledby="headingSection3One" data-parent="#accordion4">
                        <div class="card-body">
                            <p>
                                If you are a corporate or business who needs to make bookings for travel for your employees or yourself, please register with us using “corporate – Register” and create corporate account. Clicking this link will open “Start corporate Account” form which needs to be filled and submitted.

                                Staybazar office will review, and once approved you will receive email with details to login and access your account.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="d-flex align-items-center btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSection4Two" aria-expanded="false" aria-controls="collapseSection4Two">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                                <span class="colr-faq"> How I do corporate travel booking?</span>

                            </button>
                        </h2>
                    </div>
                    <div id="collapseSection4Two" class="collapse" aria-labelledby="headingSection4Two" data-parent="#accordion4">
                        <div class="card-body">
                            <p>
                                You can choose “Staybazar for business” on our homepage and select “Login My Account”. Under this please select “Corporate” and enter login email id and password to login.

                                Once logged in you can search for accommodations, select the accommodation option and make the booking. Payment can be done through credit card, net banking, debit card or cash card.
                            </p>
                        </div>
                    </div>
                </div>


            </div>



        </section>*@


</div>