@model string
@using Microsoft.AspNet.Identity
@{

    string[] Data;
    Data = Model.Split(',');
    long PropertyId = Convert.ToInt32(Data[0]);
    long BookingId = Convert.ToInt32(Data[1]);
    Layout = null;
    decimal Partialamountperc = 0;

    string UserIds = User.Identity.GetUserId();
    CLayer.Role.Roles UsertypeId = BLayer.User.GetRole(Convert.ToInt32(UserIds));

    if (UsertypeId == CLayer.Role.Roles.Customer)
    {
        Partialamountperc = Math.Round(BLayer.Property.GetPropertyB2CpartialamountPerc(PropertyId));
    }
    if (UsertypeId == CLayer.Role.Roles.Administrator || UsertypeId == CLayer.Role.Roles.Corporate || UsertypeId == CLayer.Role.Roles.Affiliate || UsertypeId == CLayer.Role.Roles.Supplier || UsertypeId == CLayer.Role.Roles.CorporateUser)
    {
        Partialamountperc = Math.Round(BLayer.Property.GetPropertyB2BpartialamountPerc(PropertyId));
    }

    decimal Totalamount = Math.Round(BLayer.Bookings.GetTotal(BookingId));
    decimal Partialamount = Math.Round(((Partialamountperc) * (Totalamount)) / 100);
    decimal remainingamount = Math.Round(Totalamount - Partialamount);



}
<p>
    Partial Amount Will Be The @Partialamountperc % Of Grand Total Amount.<br />
    First Payment : INR
     @(Partialamount).00<br />
    Second Payment : INR @remainingamount.00<br />
    <span>Booking will be cancelled if the remaining payment is not done before @TempData["CancellationDate"] and the first payment won't be refunded </span>
</p>
