@model StayBazar.Models.BookingModel
@{
    ViewBag.Title = "View Reservation";
}

<div class="container bdy_min_height">
    <div class="row topmargin10">
        <div class="col-md-1 col-md-offset-10"><a href="#" onclick="printDoc()"><img src="~/images/printer.png" alt="Print" width="24" height="24" /></a><a target="_blank" href="~/Booking/BillPdf?Id=@Model.BookingId"><img src="~/images/pdfdoc.png" alt="PDF" width="24" height="24" /></a></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >
            @Html.Partial("_BookingConfirmation", Model)
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript" >
    function printDoc() {
        var url = '@Url.Action("BillPrint","Booking")';
        window.open(url + "?id=" + @Model.BookingId, "_blank", " scrollbars=yes, resizable=yes, width=400, height=400");
    }
</script>