
@{
    ViewBag.Title = "ErrorPage";
}
<div class="container bdy_min_height">
    <div class="row topmargin12">
        <div class="col-md-8 col-md-offset-2"><div class="alert alert-info">There is a technical issue which will be solved as soon as possible.</div></div> 
    </div>
</div>



