@{
    ViewBag.Title = "Our Clients";
}
<div class="container">
    <div class="leftside">@ViewBag.Title</div>
    <div class="row">
        <div class="col-md-12">
            <div class="row clientlogos" style="height:auto;">
                <img src="~/images/clients/bayir_group_logo.jpg" alt="bayirgroup" title="" />
                <img src="~/images/clients/bombay_chamber_logo.jpg" alt="bombaychamber" title="" />
                <img src="~/images/clients/capitalvia_logo.jpg" alt="capitalvia" title="" />
                <img src="~/images/clients/ceat_logo.jpg" alt="ceat" title="" />
                <img src="~/images/clients/cipla_logo.jpg" alt="cipla" title="" />
                <img src="~/images/clients/datamatics_logo.jpg" alt="datamatics" title="" />
                <img src="~/images/clients/elken_logo.jpg" alt="elken" title="" />
                <img src="~/images/clients/esi_logo.jpg" alt="esi" title="" />
                <img src="~/images/clients/faber_castle_logo.jpg" alt="faber" title="" />
                <img src="~/images/clients/featherlite_logo.jpg" alt="featherlite" title="" />
                <img src="~/images/clients/fosroc_logo.jpg" alt="fosroc" title="" />
                <img src="~/images/clients/fujitsu_logo.jpg" alt="" title="" />
                <img src="~/images/clients/gfl_logo.jpg" alt="" title="" />
                <img src="~/images/clients/lake_chemicals_logo.jpg" alt="" title="" />
                <img src="~/images/clients/larsen_and_turbo_logo.jpg" alt="" title="" />
                <img src="~/images/clients/manipalglobal_logo.jpg" alt="" title="" />
                <img src="~/images/clients/mh_logo.jpg" alt="" title="" />
                <img src="~/images/clients/modi_logo.jpg" alt="" title="" />
                <img src="~/images/clients/polycab_logo.jpg" alt="" title="" />
                <img src="~/images/clients/R_Zone_logo.jpg" alt="" title="" />
                <img src="~/images/clients/rallis_logo.jpg" alt="" title="" />
                <img src="~/images/clients/redhat_logo.jpg" alt="" title="" />
                <img src="~/images/clients/regenersis_logo.jpg" alt="" title="" />
                <img src="~/images/clients/rpg_life_logo.jpg" alt="" title="" />
                <img src="~/images/clients/titan_logo.jpg" alt="" title="" />
                <img src="~/images/clients/transition_logo.jpg" alt="" title="" />
                <img src="~/images/clients/you_logo.jpg" alt="" title="" />

                <img src="~/images/clients/gls_pharma_Logo.jpg" />
                <img src="~/images/clients/gojavas_Logo.jpg" />
                <img src="~/images/clients/ht_media_Logo.jpg" />
                <img src="~/images/clients/pace_express_Logo.jpg" />
                <img src="~/images/clients/environics_Logo.jpg" />
                <img src="~/images/clients/sennheiser_Logo.jpg" />
                <img src="~/images/clients/rx_infotech_Logo.jpg" />
                <img src="~/images/clients/prop_buzz_Logo.jpg" />
                <img src="~/images/clients/pine_labs_Logo.jpg" />
                <img src="~/images/clients/arc_Logo.jpg" />
                <img src="~/images/clients/hdfc_Logos.jpg" />
                <img src="~/images/clients/channel_play_logo.jpg" />
                <img src="~/images/clients/acpl_logo.jpg" />
            </div>
        </div>
    </div>
</div>