@{
    ViewBag.Title = "Join Us";
}
<div class="container">
    <h2>Join Us</h2>
    <div class="btn-group">
        <a href="/Join/Corporate" class="btn btn-lg alert alert-info">As a Corporate</a>
        <a href="/Join/Supplier" class="btn btn-lg alert alert-info">As a Supplier</a>
        <a href="/Join/TravelAgent" class="btn btn-lg alert alert-info">As a Travel Agent</a>
        <a href="/Join/Affiliates" class="btn btn-lg alert alert-info">As a Affiliate</a>
    </div>
</div>

