@{
    Layout = null;
    CLayer.ObjectStatus.BookingStatus BStatus = CLayer.ObjectStatus.BookingStatus.Cancelled;
    if (ViewBag.bookingid != null)
    {
        long bookingid = ViewBag.bookingid;
        BStatus = BLayer.Bookings.GetStatus(bookingid);
    }
}
@if (BStatus == CLayer.ObjectStatus.BookingStatus.Cancelled)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success">Your order has been cancelled and the refund process has been started.</div>
        </div>
    </div>
}
else if (BStatus == CLayer.ObjectStatus.BookingStatus.Decline)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success">Your order has been Declined and the refund process has been started.</div>
        </div>
    </div>
}