@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bdy_min_height">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 topmargin10">
            <h4 class="alert alert-danger">There has  an issue in processing your request. We will look into the issue.</h4>
            <br />
            <div>
                <a href="/Home">Go back to Home</a>
            </div>
        </div>
    </div>
</div>