@model string

@{
    Layout = null;
}


<style>
    .remove {
        display: block;
        width: 83px;
    }

        .remove span {
            float: left;
            width: 63px;
            padding: 1px 4px;
            background: #fff;
            height: 20px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            font-size: 12px;
            color: #000;
            -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
        }

        .remove a {
            float: left;
            width: 20px;
            padding: 0px 5px;
            background: #fff;
            font-size: 13px;
            height: 20px;
            color: red;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.65);
        }

    .split li {
        float: left;
        width: 20%;
        margin-bottom: 5px;
    }
</style>

<h3>Selected Bookings</h3>
@if (Model != null)
{
    if (Model != "")
    {
        if (Model.Length > 0)
        {
            <div class="col-md-12" style="overflow-y:scroll; height: auto; max-height: 150px;padding: 6px;border-radius: 7px;background-color: #e4e4e4;">
                <ul class="list-unstyled split">
                    @foreach (string item in Model.Split(','))
                    {
                        <li><div class="remove"><span><b>@item</b></span><a title="DELETE" style="cursor:pointer;" onclick="onClickUnSelectSelected('@item');"> <b> &times;</b></a></div></li>
                    }
                </ul>
            </div>
        }
    }
}

