<table style="font-family: sans-serif; font-weight: 100; padding: 0 5%;">
  <thead>
    <tr>
      <th style="padding-top: 2%;">
        <img src="http://www.staybazar.com/images/logo1.png" title="Staybazar" alt="Staybazar Logo" />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center">
        <h3 style="border-bottom: 1px solid #000; padding: 10px 0; display:inline-block;">Welcome to Staybazar.com</h3>
      </td>
    </tr>
    <tr>
      <td>
        <p style="padding: 1% 5%; line-height: 35px; font-size: 20px; color: #666;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </td>
    </tr>

    <tr>
      <td align="center">
        <a href="#url" title="" target="_blank" style="background: #a51e22; color: #FFF; border-radius: 5px; border: 0; padding: 12px; text-decoration: none; display: inline-block;">Verify your account</a>
      </td>
    </tr>

    <tr>
      <td align="center">
        <p style="margin-top: 20px; margin-bottom: 10px;">
          Or verify using this link
        </p>
        <a href="#url" title="" target="_blank" style="color:#a51e22; text-decoration: none;">#url</a>
      </td>
    </tr>

    <tfoot>
      <tr>
        <td align="center">
          <p style="border-top: 1px solid #CCC; padding:1% 0;">Sent by Staybazar.com Above bake my day, 37/405 D, 1st Floor,Panorama House, Kadavanthra,Kochi, Kerala- 682 020, India.</p>
        </td>
      </tr>
    </tfoot>
  </tbody>
</table>