@{
    Layout = null;
}
<div class="row">

    <div class="col-md-12">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Browse Property</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">New Property</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    @*<div class="row">*@
                        <input type="radio" name="radiocheck" value="1" id="Defaultcheck" checked />  Standard Properties
                        <input type="radio" name="radiocheck" value="0" id="customcheck" />       Additional Properties  
                    @*( <span> <a style="cursor:pointer" onclick="onClickNewProperty()">  New Property ? </a> </span> )*@
                        @*<input type="radio"  name="radiocheck" value="0" id="customcheck" />       Additional Properties  ( <span> <a href="/admin/CustomProperty">  New Property ? </a> </span> )*@

                        <div class="input-group">

                            <input type="text" id="searchprop" class="form-control" onkeyup="findproperty()" style="width:312px;">
                            <span class="input-group-btn" id="goid">
                                @*<button class="btn btn-default" onclick="findproperty()" type="button">Go!</button>*@
                            </span>
                        </div><!-- /input-group -->
                    @*</div>*@
                    <div class="row top-margin-10px" id="browseListpro">
                        @*@Html.Partial("_PropertyList", new List<CLayer.Property>())*@
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    @Html.Partial("~/Areas/Admin/Views/OfflineBooking/Property.cshtml", new StayBazar.Areas.Admin.Models.OfflineBookingModel())
                </div>
            </div>

        </div>
    </div>


    @*<div class="col-lg-10">
        <input type="radio" name="radiocheck" value="1" id="Defaultcheck" checked />  Standard Properties
        <input type="radio"  name="radiocheck" value="0" id="customcheck" />       Additional Properties  ( <span> <a href="/admin/CustomProperty">  New Property ? </a> </span> )
        
        <div class="input-group">

            <input type="text" id="searchprop" class="form-control">
            <span class="input-group-btn" id="goid">
                <button class="btn btn-default" onclick="findproperty()" type="button">Go!</button>
            </span>
        </div>
    </div>*@
</div>
@*<div class="row top-margin-10px" id="browseListpro">
</div>*@
<script type="text/javascript">

    $(document).ready(function () {
        $("input[id=Defaultcheck]").is(":checked") == true;
    });

    function findproperty() {
        if ($("#searchprop").val().trim() == "") {
         //   alert('Search criteria not found!');
            $("#browseListpro").html("");
            return;
        }

        var cname2 = $("#searchprop").val();
        if ($("input[id=Defaultcheck]").is(":checked") == true) {
            $.post('@Url.Action("Searchforofflinebook", "property", new { area = "Admin" })', { name: cname2.trim() }, function (data) {
                $("#browseListpro").html("");
                $("#browseListpro").html(data);
            });
        }
        else {
            $.post('@Url.Action("Searchforofflinebookfromcustom", "property", new { area = "Admin" })', { name: cname2.trim() }, function (data) {
                $("#browseListpro").html("");
                $("#browseListpro").html(data);
            });
        }

    }
    function selectCorporate() {
    }
</script>
