@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#old" aria-controls="old" role="tab" data-toggle="tab">Browse Customer</a></li>
            <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New Customer</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="old">
                <div class="input-group">

                    <input type="text" id="searchcust" class="form-control" onkeyup="findcustomer()" style="width:312px;">
                    <span class="input-group-btn" id="goid">
                        @*<button class="btn btn-default" onclick="findcustomer()" type="button">Go!</button>*@
                    </span>
                </div><!-- /input-group -->

                <div class="row top-margin-10px" id="browseListcust">
                    @*@Html.Partial("_PropertyList", new List<CLayer.Property>())*@
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="new">
             @Html.Partial("~/Areas/Admin/Views/OfflineBooking/CustomerProperty.cshtml", new StayBazar.Areas.Admin.Models.OfflineBookingModel())
            </div>
      </div>
           

        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {
        $("input[id=Defaultcheck]").is(":checked") == true;
    });

    function findcustomer() {
        if ($("#searchcust").val().trim() == "") {
            $("#browseListcust").html("");
            return;
        }

        var cname2 = $("#searchcust").val();

        $.post('@Url.Action("Searchforofflinebookcustomers", "OfflineBooking", new { area = "Admin" })', { name: cname2.trim() }, function (data) {
            $("#browseListcust").html("");
            $("#browseListcust").html(data);
        });

    }
    function selectCorporate() {
    }
</script>
