
@{
    Layout = null;
}
<div id="content">
    <div class="row" id="Filter1">
        <div class="col-md-12">
            <div class="row margin10px" id="DetailsInventoryAndBooking">
                @Html.Partial("OfflineBooking")
            </div>
        </div>
    </div>
    <div class="row" id="ReportCorporateDiscounts">
    </div>
</div>
