@{
  
}
<div class="container" style="padding-top:150px; padding-bottom:200px;">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div class="panel panel-body panel-default margin10px " style="width:535px;">
                <div class="row">
                    <div class="col-md-1">
                        <span class="fa fa-check-circle greentext" style="font-size:37px;"></span>
                    </div>
                    <div class="col-md-11">
                        <h4>Thanks for your feedback</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
