@{
    Layout = null;
    string image = BLayer.Settings.GetValue(CLayer.Settings.SIGNATURE_IMAGE);
}
<table id="thirdrow" style="width:100%">
    <tr>
        <td>
            <table style="width:100%">
                <tr><td style="text-align:right;">For Southern E-Commerce Solutions Pvt Ltd</td></tr>
                <tr><td style="text-align:right;"><img class="Signimage" src="https://www.staybazar.com/@image" /></td></tr>
                <tr><td style="text-align:right;">(Authorised Signatory)</td></tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="border-top:1px  black solid">
            <p style="text-align:center; font-size:smaller"> Regd off:  # S-2, EXSULTARE, No. 38-A, 2nd Avenue, Shubh Enclave, Haralur Road, Bangalore – 560102, India </p>
            <p style="text-align:center; font-weight:bold; font-size:smaller"> CIN  :  U74900KA2014PTC073050</p>
        </td>
    </tr>
</table>


