@{
    Layout = null;
}
<table style="width:100%">
    <tr>
        <th style="padding-top: 2%;" align="left">
            <img  style="width:25%"  src="http://www.staybazar.com/Files/Mailer/images/logo.png" title="Staybazar" alt="Staybazar Logo" />
        </th>
    </tr>
    <tr>
        <td style="text-align:center;">
            <p style=" text-align:center;margin:0px;padding:0px;">
                <h1 style="margin:0px;padding:0px;font-size:24px;">Southern E-Commerce Solutions Pvt Ltd</h1>
                <div style="font-size:14px;padding-top:10px;">
                    No. 993, 9th Main, Sector – 7, HSR Layout, Bangalore – 560102<br />
                    Phone: +91-80-25722898, +91-80-40916686, Toll Free: 1800-425-2393 E-Mail: info@staybazar.com<br />
                    <span style="font-size:14px;font-weight:bold;">PAN  :	AAUCS1420R,	Service Tax No:	AAUCS1420RSD001</span>
                </div>
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;"><span style="font-size:18px;font-weight:bold;">Invoice</span></td>
    </tr>
</table>
