@{
    ViewBag.Title = "User Email Verification";
}
<div class="container bdy_min_height">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 top-margin-10px">
            <div class="alert alert-info">@ViewBag.Message</div>
            <div class="text-center">
                <a style="text-align:center;" href="@Url.Action("Index", "Home")">Go to Home Page</a>
            </div>
        </div>
    </div>
</div>