@{
    Layout = null;
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success">Your order has been cancelled and the refund process has been started.</div>
    </div>
</div>