<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailId" value="support@staybazar.com"/><!-- used for authenticating the mail server and from email id of supplier mail -->
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="Port" value="587"/>
    <add key="Auth" value="User123#"/>
    <add key="AuthType" value="2"/> <!--1 normal authentication , 2 - ssl -->
    <add key="SupMailRecordCountLink" value="http://beta.staybazar.com/admin/Service/GetMailSupplierIdsCount"/>
    <add key="SupMailRecordsLink" value="http://beta.staybazar.com/admin/Service/GetMailSupplierIds?"/>
    <add key="SupEmailLink" value="http://beta.staybazar.com/Admin/ReportDailyInventoryAndBooking/Email?" />
    <add key="SupPropEmailIdLink" value="http://beta.staybazar.com/Admin/Service/GetPropertyEmailNId?supplierId="/>
    <add key="SupMailSubject" value="Recent Booking"/>
    <add key="FailedBookingLink" value="http://beta.staybazar.com/Admin/ReportForFailedTransactions/Email"/>
    <add key="FailedTransactionEmail" value="support@staybazar.com"/>
	  <add key="FailedTransactionCCMail" value="george@staybazar.com,prem@staybazar.com"/>
	  <add key="BookingCartLink" value="http://beta.staybazar.com/Admin/BookingStarted/Email"/>
    <add key="BookingCartMail" value="support@staybazar.com"/>
    <add key="BookingCartCCMail" value="jisbin@phenomtec.com,anoop@isletsystems.com"/>
    <!-- Partial payment mail -->
    <add key="PartialPaymentLink" value="http://beta.staybazar.com/PartialPaymentMail/GetPartialBookingDetails?BookId="/>   
    <add key="PartialPaymentBookingList" value="http://beta.staybazar.com/Admin/Service/GetPartialPaymentBookedList"/>   
    <add key="PartialPaymentBCanceList" value="http://beta.staybazar.com/Admin/Service/GetPartialPaymentBCancellation"/>   
    <add key="PartialPaymentCancelLink" value="http://beta.staybazar.com/PartialPaymentMail/GetPartialBCancelDetails?BookId="/>
    
    <add key="ReviewSendLink" value="http://beta.staybazar.com/Review/GetDetailsForReview?BookId="/>   
    <add key="ReviewSendBookingList" value="http://beta.staybazar.com/Review/GetReviewSendBookingList"/>    
    
    <add key="PartialReminderCC" value=""/>
    <add key="PartialCancelCC" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>




<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailId" value="info@staybazar.com"/>
    <add key="MailServer" value="smtpout.secureserver.net" />
    <add key="Port" value="3535"/>
    <add key="Auth" value="Sespl@2014"/>
    <add key="AuthType" value="1"/> 
    <add key="SupMailRecordCountLink" value="http://beta.staybazar.com/admin/Service/GetMailSupplierIdsCount"/>
    <add key="SupMailRecordsLink" value="http://beta.staybazar.com/admin/Service/GetMailSupplierIds?"/>
    <add key="SupEmailLink" value="http://beta.staybazar.com/Admin/ReportDailyInventoryAndBooking/Email?" />
    <add key="SupPropEmailIdLink" value="http://beta.staybazar.com/Admin/Service/GetPropertyEmailNId?supplierId="/>
    <add key="SupMailSubject" value="Recent Booking"/>
    <add key="FailedBookingLink" value="http://beta.staybazar.com/Admin/ReportForFailedTransactions/Email"/>
    <add key="FailedTransactionEmail" value="support@staybazar.com"/>
    <add key="FailedTransactionCCMail" value="george@staybazar.com"/>
   
    <add key="BookingCartLink" value="https://www.staybazar.com/Admin/BookingStarted/Email"/>
    <add key="BookingCartMail" value="support@staybazar.com"/>
    <add key="BookingCartCCMail" value="george@staybazar.com"/>
     
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>-->


