@model StayBazar.Areas.Admin.Models.OfflineBookingModel
@{
    ViewBag.Title = "Offline Booking Customer";
}
@*<div class="col-md-12 margin-top-10">
    <div class="row">
        <div class="col-md-11 margin-bot-10"><h2>Offline Booking Customer</h2></div>

    </div>*@

<div class="page-title-container style3">
    <div class="row">
        <div class="col-md-3">
            <h2 style="color:white">@ViewBag.Title</h2>
        </div>
            <div class="col-md-2">
                @using (Html.BeginForm("Filter", "OfflineBookingCustomerList", FormMethod.Post, new { @id = "frmFilters" }))
                {
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchString, new { @tabindex = "2", @class = "form-control" })
                        <span class="input-group-btn">
                            <button id="btnSearch" class="btn btn-default" type="submit" tabindex="3">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                }
            </div>
            <div class="col-md-1 col-md-offset-6 rightalign"><a href="/Admin/OfflineBookingCustomerList/CreateCustomer" class="btn btn-success">Add New</a></div>

        </div>

    </div>

@*<div class="col-md-11">
    @*
</div>
<div class="col-md-1"></div>*@
<div class="container-fluid">
    <div class="row">
        @*<div class="col-md-12">
            <div id="Customerlist" class="row">*@
        @Html.Partial("~/Areas/Admin/Views/OfflineBookingCustomerList/List.cshtml", Model)
        @*</div>
            </div>*@
    </div>
</div>


<script>
    function showPager(num) {
        $("#currentPage").val(num);
        var url = '@Url.Action("Pager", "OfflineBookingCustomerList")';
        $.post(url, $("#frmPagers").serialize(),
                function (data) {
                    $("#Customerlist").html(data);
                });
    }
</script>







