@model StayBazar.Models.CorporateModel
@{
    ViewBag.Title = "Users";
}
@section scripts{
    <script src="~/Scripts/custom_pager.js"></script>
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () { validateRq(); });
</script>
<div class="container ">
    <div class="row ">
        <div class=" col-md-12">
            <h2>Corporate Users</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12">
            <div id="userlist">
                @Html.Partial("~/Views/AssistedBooking/_List.cshtml", Model)
            </div>
            <div id="userdetails">
                @Html.Partial("~/Views/AssistedBooking/_Details.cshtml", Model.CorpUser)
            </div>
        </div>
    </div>
</div>